<div class="working-way">
    <div class="container">
        <h4 class="dark-gray font-weight-bold">Как мы работаем</h4>
        <div class="row justify-content-around justify-content-sm-between">
            <div class="working-way__card position-relative">
                <div class="working-way__background font-weight-bold light-gray">01</div>

                <div class="working-way__content position-absolute">
                    <h6 class="font-weight-bolder">Оформляете заказ</h6>
                    <span class="gray">на нашем сайте</span>
                </div>
            </div>

            <div class="working-way__card position-relative">
                <div class="working-way__background font-weight-bold light-gray">02</div>

                <div class="working-way__content position-absolute">
                    <h6 class="font-weight-bolder">Специалист связывается</h6>
                    <span class="gray">и утверждает детали заказа</span>
                </div>
            </div>

            <div class="working-way__card position-relative">
                <div class="working-way__background font-weight-bold light-gray">03
                </div>

                <div class="working-way__content position-absolute">
                    <h6 class="font-weight-bolder">Мы доставляем</h6>
                    <span class="gray">заказ к по указанному адресу</span>
                </div>
            </div>

            <div class="working-way__card position-relative">
                <div class="working-way__background font-weight-bold light-gray">04
                </div>

                <div class="working-way__content position-absolute">
                    <h6 class="font-weight-bolder">И устанавливаем</h6>
                    <span class="gray">мебель</span>
                </div>
            </div>
        </div>
    </div>
</div>