.working-way
    &__background
        font-size: 140px
        font-weight: 600
        opacity: 0.14

    &__steps
        font-weight: 600

    &__row
        +respond-to(tablet)
            height: 510px
            overflow-x: auto
        +respond-to(phone-land)
            height: 470px

    &__height
        height: 215px !important
        
    &__content
        bottom: 50px
        width: 200px
        left: 0