.working-way
    &__background
        font-size: 140px

    &__steps
        font-weight: 500

    span
        font-weight: 400

    &__row
        overflow-x: scroll

    &__content
        bottom: 50px
        width: 200px
        left: 0