<div class="working-way">
    <div class="container">
        <h3 class="dark-gray">Как мы работаем</h3>
        <div class="row justify-content-around justify-content-sm-between">
            <div class="col-12 col-sm-6 col-lg-3 position-relative">
                <div class="working-way__background font-weight-bold light-gray">01</div>

                <div class="working-way__content position-absolute">
                    <h6>Оформляете заказ</h6>
                    <span class="gray">на нашем сайте</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 position-relative">
                <div class="working-way__background font-weight-bold light-gray">02</div>

                <div class="working-way__content position-absolute">
                    <h6>Специалист связывается</h6>
                    <span class="gray">и утверждает детали заказа</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 position-relative">
                <div class="working-way__background font-weight-bold light-gray">03
                </div>

                <div class="working-way__content position-absolute">
                    <h6>Мы доставляем</h6>
                    <span class="gray">заказ к по указанному адресу</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 position-relative">
                <div class="working-way__background font-weight-bold light-gray">04
                </div>

                <div class="working-way__content position-absolute">
                    <h6>И устанавливаем</h6>
                    <span class="gray">мебель</span>
                </div>
            </div>
        </div>
    </div>
</div>