<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95 (1).png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95 (2).png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95 (3).png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-lg-6">
            <a href="#" class="text-decoration-none">
                <div class="product-card-horizontal d-flex justify-content-between p-4">
    <div class="info d-flex justify-content-between align-items-end mr-3 mr-sm-0">
        <span class="h6 info__title">
            Гардеробные системы Титан GS
        </span>

        <button class="info__button position-absolute  d-none d-sm-block">
            <i class="fa fa-angle-right fa-2x"></i>
        </button>
    </div>

    <div class="product-card-horizontal__photo">
        <img src="./img/product-catalog/image 78.png" class="h-100" alt="Cart photo">
    </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>


        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                <div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="./img/product-catalog/Rectangle 95.png" class="h-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            Стеллажи металлические
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>
            </a>
        </div>
    </div>
</div>