<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="primary mb-4">Распродажа</h3>
        </div>
    </div>
    <div class="row">
        <div class="d-flex working-way__row justify-content-sm-between">
            <div class="position-relative card-wrapper">
                @@include('src/components/action-catalog/action-card/action-card.html', {
                "photo": "./img/product-card/image 87.png",
                "badge1": "Aкция",
                "badge2": "Новинка",
                "badge3": "Скилдка",
                "bagdeBg1": "primary-bg",
                "bagdeBg2": "black-bg",
                "bagdeBg3": "dark-gray-bg",
                "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
                "info": "ВШГ - 1156x2400x450 мм",
                "oldPrice": "1 957₽",
                "price": "1 690₽",
                "button": "В корзину",
                "link": "/product-detail/product-detail.html"
                })
            </div>

            <div class="position-relative card-wrapper">
                @@include('src/components/action-catalog/action-card/action-card.html', {
                "photo": "./img/product-card/image 87.png",
                "badge1": "Акция",
                "badge2": "",
                "badge3": "",
                "bagdeBg1": "primary-bg",
                "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
                "info": "ВШГ - 1156x2400x450 мм",
                "oldPrice": "1 957₽",
                "price": "1 690₽",
                "button": "В корзину",
                "link": "/product-detail/product-detail.html"
                })
            </div>

            <div class="position-relative card-wrapper">
                @@include('src/components/action-catalog/action-card/action-card.html', {
                "photo": "./img/product-card/image 87.png",
                "badge1": "Акция",
                "badge2": "",
                "badge3": "",
                "bagdeBg1": "primary-bg",
                "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
                "info": "ВШГ - 1156x2400x450 мм",
                "oldPrice": "1 957₽",
                "price": "1 690₽",
                "button": "В корзину",
                "link": "/product-detail/product-detail.html"
                })
            </div>

            <div class="position-relative card-wrapper">
                @@include('src/components/action-catalog/action-card/action-card.html', {
                "photo": "./img/product-card/image 87.png",
                "badge1": "Акция",
                "badge2": "",
                "badge3": "",
                "bagdeBg1": "primary-bg",
                "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
                "info": "ВШГ - 1156x2400x450 мм",
                "oldPrice": "1 957₽",
                "price": "1 690₽",
                "button": "В корзину",
                "link": "/product-detail/product-detail.html"
                })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="#" class="view-more dark-gray text-decoration-none">
                Посмотреть все
            </a>
        </div>
    </div>
</div>