<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/action-catalog/action-card/action-card.html', {
            "photo": "./img/product-card/image 87.png",
            "badge": "Акция",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/action-catalog/action-card/action-card.html', {
            "photo": "./img/product-card/image 87.png",
            "badge": "Акция",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/action-catalog/action-card/action-card.html', {
            "photo": "./img/product-card/image 87.png",
            "badge": "Акция",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/action-catalog/action-card/action-card.html', {
            "photo": "./img/product-card/image 87.png",
            "badge": "Акция",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>
    </div>
</div>