.action-card

    &__compare,
    &__favorite
        &:hover svg path
            fill: $primary

    .horizontal-content
        height: 165px
        margin-bottom: 30px

        +respond-to(phone)
            flex-direction: row-reverse

        &__img-wrapper
            flex: 1 1 0px

        &__text
            flex: 2 1 0px
            +respond-to(tablet)
                flex: 1 1 0px
          

        &__buttons
            flex: 1 1 0px
            min-width: 240px

        &__counting
            width: 150px
            height: 25px

        &__cart-button
            background: $primary
            color: $white
            height: 40px
            width: 40px

        &__info
            +respond-to(tablet)
                font-size: 12px