.action-card
    box-shadow: $shadow

    &__compare,
    &__favorite
        &:hover svg path
            fill: $primary

    .horizontal-content
        height: 145px
        +respond-to(phone-land)
            height: 130px
        +respond-to(phone)
            height: 115px

        &__img-wrapper
            flex: 1 0 100px
            +respond-to(phone)
                flex: 1 0 0

        &__text
            flex: 2 1 0
            +respond-to(tablet)
                flex: 1 1 0

            +respond-to(phone)
                flex: 1.6 1 0
          

        &__buttons
            flex: 1 1 0px
            min-width: 240px

            .add-to-cart:hover
                color: $primary

        &__counting
            width: 150px
            height: 25px

        &__cart-button
            background: $primary
            color: $white
            height: 40px
            width: 40px

        &__info
            +respond-to(tablet)
                font-size: 12px

        .footer-buttons
            margin-bottom: -5px
            span
                font-weight: 600
                line-height: 24px
                &:hover
                    color: $primary

.favorite-following-offer
    margin-top: 96px