<div class="comparision-card-simple d-flex flex-md-column justify-content-between p-4">
    <div class="comparision-card-simple__photo mr-5 mr-md-0">
        <img src="@@photo" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title mb-0 mr-2">
            @@title
         </span>
     </div>

     <div class="comparision-card-simple__number-box">
         <span class="comparision-card-simple__number">@@number</span>
     </div>
</div>