@import '../../sass/_vars'

.cart
    padding: 50px 30px 30px
    background: $white
    transition: $transition
    display: flex
    position: absolute
    top: -21px
    right: 37px
    width: 465px
    z-index: 37
    max-height: 645px
    overflow-y: auto

    &__total-info
        font-size: 18px
        font-weight: 600
        margin-bottom: 40px

    &__product-price
        font-size: 26px
        font-weight: 700
        line-height: 29px