<div class="cart flex-column">

    <div class="d-flex flex-column py-4">
        @@include('src/components/cart/cart-item/cart-item.html')
        @@include('src/components/cart/cart-item/cart-item.html')
    </div>

    <div class="cart__total-info d-flex justify-content-between align-items-end">
        <div class="cart__product">
            Всего товаров: <span class="cart__count">2</span>
        </div>
        <div class="cart__price">
            На сумму: <span class="cart__product-price pl-2">12 690 ₽</span>
        </div>
    </div>

    <div class="cart__buttons d-flex justify-content-between">

        <a href="/bucket/bucket.html" class="stillage-link-button-primary">
            Перейти в корзину
        </a>
 
        <a href="/bucket/checkout/checkout.html" class="stillage-link-button-gray">
            Купить в один клик
        </a>
    </div>
</div>