<div class="buyer-form-wrapper">
    <form class="buyer-form">
        <select name="buyer-type" id="buyer" class="buyer-form__element">
            <option value="volvo">Физ. лицо</option>
            <option value="saab">Юр. лицо</option>
        </select>

        <input type="text" name="fullName" placeholder="ФИО" class="buyer-form__element">

        <input type="tel" name="phoneNumber" id="tel" placeholder="+7 (_ _ _) _ _ _ _ _" class="buyer-form__element">

        <button class="icon-button buyer-form__edit-tel" type="button">
            <svg width="13" height="13" viewBox="0 0 13 13">
                <path d="M0 10.2894V12.9981H2.70871L10.7012 5.00558L7.99248 2.29688L0 10.2894Z" fill="#848E99" />
                <path
                    d="M12.7884 1.89789L11.1018 0.211279C10.8201 -0.0704264 10.3614 -0.0704264 10.0797 0.211279L8.75781 1.53313L11.4665 4.24184L12.7884 2.91999C13.0701 2.63828 13.0701 2.17959 12.7884 1.89789Z"
                    fill="#848E99" />
            </svg>
        </button>
        <input type="email" name="email" id="email" placeholder="E-mail" class="buyer-form__element">
    </form>
</div>