<div class="basket">
    <div class="basket__card">
        <div class="row">
            <div class="col-5 col-lg-3 text-center">
                <div class="basket__card__stock">Акция</div>
                <img src="../../../img/product-catalog/Rectangle 95.png" class="pt-4 basket__card__img" alt="Product picture" />
            </div>
            <div class="col-7 col-lg-9 pt-4">
                <div class="d-flex">
                    <div class="mr-auto">
                        <h6 class="h6">Архивный стеллаж MS <br> STANDART до 100 кг на полку</h6>
                    </div>
                    <div class="basket__card__exit">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.8412 16.3125L16.7266 14.4271L10.612 8.31248L16.7266 2.1979L14.8412 0.3125L8.72658 6.42707L2.61197 0.312499L0.726565 2.1979L6.84114 8.31248L0.726565 14.427L2.61197 16.3125L8.72658 10.1979L14.8412 16.3125Z" fill="#B6C0CB"/>
                        </svg>
                    </div>
                </div>
                <p class="dark-gray mb-auto">ВШГ - 1156x2400x450 мм</p>
                <div class="basket__card__text-footer">
                    <div class="d-flex">
                        <div class="mr-auto basket__card__text-footer__color-stoke align-self-end">
                            В наличии
                        </div>
                        <div class="d-none d-sm-none d-md-block">
                            <div class="d-flex align-items-end">
                                <div class="basket__card__text-footer__add-remove mr-2 add-remove d-flex align-items-center justify-content-center black light-gray-bg">
                                    1
                                </div>
                                <button class="basket__card__text-footer__button dark-gray-bg add-remove d-flex align-items-center mr-2 justify-content-center">
                                    -
                                </button>
                                <button class="basket__card__text-footer__button black-bg add-remove d-flex align-items-center justify-content-center">
                                    +
                                </button>
                                <h6 class="h6 ml-4 primary m-0">1 690 ₽</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-xl-none d-lg-none d-md-none">
            <div class="d-flex">
                <div class="d-flex align-items-end w-100">
                    <div class="mr-auto">
                        <h6 class="h6 ml-2 primary m-0">1 690 ₽</h6>
                    </div>
                    <div class="d-flex ml-auto">
                        <div class="basket__card__text-footer__add-remove mr-2 add-remove d-flex align-items-center justify-content-center black light-gray-bg">
                            1
                        </div>
                        <button class="basket__card__text-footer__button dark-gray-bg add-remove d-flex align-items-center mr-2 justify-content-center">
                            -
                        </button>
                        <button class="basket__card__text-footer__button black-bg add-remove d-flex align-items-center justify-content-center">
                            +
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
