<div class="cart flex-column">

    <div class="d-flex flex-column py-4">
        <div class="cart-item @@thirdPlace d-flex justify-content-between">
    <div class="mr-3">
        <img src="../../../img/cart/image 88.png" alt="Product picture" class="cart-item__image">
    </div>

    <div class="cart-item__info d-flex flex-column justify-content-between mr-3">
        <h6 class="cart-item__title">
            Гардеробная система ТИТАН - GS - 450S
        </h6>
        <small class="dark-gray">ВШГ - 1156x2400x350 мм</small>
    </div>

    <div class="cart-item__price d-flex flex-column justify-content-between">
        <div class="cart-item__control-buttons d-flex justify-content-between align-items-center">
            <span class="cart-item__count d-flex align-items-center justify-content-center">1</span>

            <button class="pr-0 pt-0">
                <svg width="20" height="20" viewBox="0 0 18 18">
                    <rect width="18" height="18" transform="matrix(-1 0 0 1 18 0)" fill="#848E99" />
                    <path d="M4.952 10.696H12.694V9.31H4.952V10.696Z" fill="white" />
                </svg>
            </button>

            <button class="pr-0 pt-0">
                <svg width="20" height="20" viewBox="0 0 18 18">
                    <rect width="18" height="18" fill="#26323F" />
                    <path d="M5.35 10.696H8.388V14H9.83V10.696H12.854V9.31H9.83V5.992H8.388V9.31H5.35V10.696Z"
                        fill="white" />
                </svg>
            </button>
        </div>
        <span class="cart-item__money text-right">
            1 690 ₽
        </span>
    </div>
</div>
        <div class="cart-item @@thirdPlace d-flex justify-content-between">
    <div class="mr-3">
        <img src="../../../img/cart/image 88.png" alt="Product picture" class="cart-item__image">
    </div>

    <div class="cart-item__info d-flex flex-column justify-content-between mr-3">
        <h6 class="cart-item__title">
            Гардеробная система ТИТАН - GS - 450S
        </h6>
        <small class="dark-gray">ВШГ - 1156x2400x350 мм</small>
    </div>

    <div class="cart-item__price d-flex flex-column justify-content-between">
        <div class="cart-item__control-buttons d-flex justify-content-between align-items-center">
            <span class="cart-item__count d-flex align-items-center justify-content-center">1</span>

            <button class="pr-0 pt-0">
                <svg width="20" height="20" viewBox="0 0 18 18">
                    <rect width="18" height="18" transform="matrix(-1 0 0 1 18 0)" fill="#848E99" />
                    <path d="M4.952 10.696H12.694V9.31H4.952V10.696Z" fill="white" />
                </svg>
            </button>

            <button class="pr-0 pt-0">
                <svg width="20" height="20" viewBox="0 0 18 18">
                    <rect width="18" height="18" fill="#26323F" />
                    <path d="M5.35 10.696H8.388V14H9.83V10.696H12.854V9.31H9.83V5.992H8.388V9.31H5.35V10.696Z"
                        fill="white" />
                </svg>
            </button>
        </div>
        <span class="cart-item__money text-right">
            1 690 ₽
        </span>
    </div>
</div>
    </div>

    <div class="cart__total-info d-flex justify-content-between align-items-end">
        <div class="cart__product">
            Всего товаров: <span class="cart__count">2</span>
        </div>
        <div class="cart__price">
            На сумму: <span class="cart__product-price pl-2">12 690 ₽</span>
        </div>
    </div>

    <div class="cart__buttons d-flex justify-content-between">


        <a href="/bucket/basket.html" class="stillage-link-button primary">
            Перейти в корзину
        </a>
 
        <a href="/bucket/checkout/checkout.html" class="stillage-link-button dark-gray">
            Купить в один клик
        </a>
    </div>
</div>