@import '../sass/_vars';

.form-control
    border: none !important
    height: 40px
    border-radius: 0 !important
    outline: none
    font-size: 14px
    &:focus
        box-shadow: none

.form-control-gray
    border: 1px solid $gray
    border-radius: 0 !important
    outline: none
    font-size: 14px
    padding: .375rem .75rem
    width: 100%
    resize: none
    &:focus
        box-shadow: none
