.stillage-link-button,
.stillage-link-button-gray,
.stillage-link-button-white,
.stillage-link-button-primary
    @extend .stillage-button
    text-decoration: none !important
    font-size: 16px
    font-weight: 600
    text-align: center
    vertical-align: middle
    display: flex
    align-items: center
    justify-content: center

.stillage-link-button-gray
    @extend .stillage-button-gray

.stillage-link-button-primary
    @extend .stillage-button-primary

.stillage-link-button-white
    @extend .stillage-button-white

.stillage-button,
.stillage-button-gray,
.stillage-button-primary,
.stillage-button-white
    font-size: 14px
    outline: none
    text-decoration: none
    width: 190px
    height: 45px
    background: none
    border: 2px solid
    +respond-to(phone)
        width: 100% !important

.stillage-button-white
    border-color: $white
    transition: $transition
    color: $white
    &:hover
        background: $white
        color: $primary

.stillage-button-gray
    border-color: $gray
    transition: $transition
    color: $gray
    &:hover
        background: $gray
        color: $white

.stillage-button-primary
    border-color: $primary
    transition: $transition
    color: $primary
    &:hover
        background: $primary
        color: $white


.add-button,
.add-button-black,
.remove-button
    width: 25px
    height: 25px
    border: none
    color: $white
    line-height: 23px

.remove-button
    background: lighten($gray, 6%)
    font-size: 16px
    font-weight: 700
    &:hover
        background: $primary

.add-button
    background: $primary
    font-size: 23px
    &:hover
        background: lighten($gray, 6%)
        

.add-button-black
    background: $black
    font-size: 23px
    &:hover
        background: lighten($gray, 6%)
        
.counter
    height: 25px
    background: $light-gray
    display: flex
    align-items: center
    justify-content: center
