/***************** CUztomized Select box ***********/

.custom-select
	appearance: none
	position: relative

	&__icon
		position: absolute
		transform: translate( -5px , 0 )
		transition: all .1s ease-in-out
		top: 18px
		right: 10px

		&:before , &:after
			content: ""
			position: absolute
			background-color: $black
			width: 2px
			height: 8px

		&:before
			transform: translate( -2px, 5px ) rotate( 45deg )

		&:after
			transform: translate( -2px , 0 ) rotate( -45deg )


.select-arrow-active
	.custom-select__icon
		top: 26px
		transform: rotate(90deg)

.custom-select select
	display: none

.select-selected
	color: $black !important
	border: none !important
	height: 50px
	padding: 14px 0px !important
	z-index: -4


//style the items (options), including the selected item

.select-items div, .select-selected
	color: $white
	padding: 8px 16px
	cursor: pointer
	user-select: none

//style items (options)

.select-items
	position: absolute
	background-color: rgba(38, 50, 63, 0.96)
	box-shadow: $shadow-light
	top: 100%
	left: 0
	right: 0
	z-index: 22
	max-height: 200px
	overflow-y: auto
	text-align: center

//hide the items when the select box is closed

.select-hide
	display: none

.select-items div:hover, .same-as-selected
	background-color: $black

.same-as-selected
	background-color: transparent
	color: $primary !important


/************  Custom Radion Button *********************/
	
/* The radio container  of custom radion buttons*/
.radio-container
    display: block
    position: relative
    padding-left: 35px
    margin-bottom: 12px
    cursor: pointer
    font-weight: 600
    user-select: none

/* Hide the browser's default radio button */
.radio-container input
    position: absolute
    opacity: 0
    cursor: pointer

/* Create a custom radio button */
.radio-checkmark
    position: absolute
    top: 0px
    left: 0
    height: 20px
    width: 20px
    border-radius: 50%
    border: 1px solid $dark-gray

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark
    background-color: lighten($gray, 10%)

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark
    background-color: transparent
    border: 1px solid $primary

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after
    content: ""
    position: absolute
    display: none

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after
    display: block

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after
    top: 4px
    left: 4px
    width: 10px
    height: 10px
    border-radius: 50%
    background: $primary



/* Accordion tab state styles */	
.accordion-tab
    display: flex
    padding: 20px 10px
    box-shadow: $shadow
    height: 60px
    align-items: center
    justify-content: space-between
    cursor: pointer

    &_active
        @extend .accordion-tab
        background: $gray
        color: $white
        
        button svg path
            fill: $white

        button
            transform: rotate(45deg)

    &__title
        font-size: 1rem
        font-weight: 600

    +respond-to(tablet)
        font-size: 14px
        margin-bottom: 20px