// Colors
$primary                  : #FE3362
$secondary                : #333B4E
$white                    : #ffffff
$day                      : #E5E5E5
$gray                     : #B6C0CB
$dark-gray                : #848E99
$light-gray               : #F4F7FB
$black                    : #26323F
$sky                      : #F4F7FB

// Transition
$transition: 300ms

// FX
$shadow: 0 4px 15px -8px rgb(234, 234, 234)
$shadow-light: 0px 6px 16px rgba(169, 186, 205, 0.11)
$easing: cubic-bezier(.885, 0, .335, .99)

// Responsive breakpoints
$small: 576px
$medium: 768px
$large: 992px
$xlarge: 1367px

// Misc.
$font-family: 'Museo Sans Cyrl', sans-serif
$file-path: './fonts/*.*'
$border-radius: 1.071rem
$border-radius-sm: $border-radius / 2
