<div class="burger-catalog">
    @@include('src/components/burger-top-bar/burger-top-bar.html', {"stateName": "Каталог продукции"})
    <div class="container burger-catalog__container">
        <div class="row">
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html', 
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div> 

        <div class="row">
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div>

        <div class="row">
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4 mb-2">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div>

        <div class="burger-catalog__wardrobe">
            <h4>Гардеробные системы <br> Титан GS</h4>
        </div>
    </div>
</div>