<div class="burger-catalog">
    <div class="container">
        <div class="row">
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html', 
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div> 

        <div class="row">
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div>

        <div class="row">
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div>

        <div class="row">
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
            <div class="col-4">@@include('src/components/burger-catalog/burger-card/burger-card.html',
                { "imagePath": "../../../img/product-catalog/Rectangle 95.png", "link": "#", "title": "Стеллажи металлические" })
            </div>
        </div>

        <div class="burger-catalog__wardrobe">
            <h4>Гардеробные системы Титан GS</h4>
        </div>
    </div>
</div>