.client-logo
    height: 100px
    max-width: 100%
    background-size: auto
    background-repeat: no-repeat
    background-position: center
    margin: 10px

.logo1
    background-image: url('../img/our-clients/okko.png')
    transition: $transition

.logo2
    background-image: url('../img/our-clients/Vector.png')
    &:hover
        background-image: url('../img/our-clients/Vector.png')

.logo3
    background-image: url('../img/our-clients/уральский банк.png')
    background-size: contain

.logo4
    background-image: url('../img/our-clients/holyskin.svg')

.logo5
    background-image: url('../img/our-clients/image 97.png')

.logo6
    background-image: url('../img/our-clients/Group.png')

.logo7
    background-image: url('../img/our-clients/интрамед.png')
    transition: $transition
    &:hover
        background-image: url('../img/our-clients/интрамед 1.png')

.logo8
    background-image: url('../img/our-clients/logo-ru 1.png')
    transition: $transition
    &:hover
        background-image: url('../img/our-clients/Vector-hover.png')
