<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="dark-gray mb-5">Наши клиенты</h3>
        </div>
    </div>

    <div class="our-clients-row">
        <div class="our-clients-logo">
            <img src="../img/our-clients/okko.png"></img>
        </div>

        <div class="our-clients-logo">
            <img src="../img/our-clients/Vector.png"></img>
        </div>

        <div class="our-clients-logo">
            <img src="../img/our-clients/уральский банк.png"></img>
        </div>

        <div class="our-clients-logo">
            <img src="../img/our-clients/holyskin.png"></img>
        </div>
    </div>

    <div class="our-clients-row">
        <div class="our-clients-logo">
            <img src="../img/our-clients/image 97.png"></img>
        </div>

        <div class="our-clients-logo">
            <img src="../img/our-clients/Group.png"></img>
        </div>

        <div class="our-clients-logo">
            <img src="../img/our-clients/интрамед.png"></img>
        </div>

        <div class="our-clients-logo">
            <img src="../img/our-clients/Vector.png"></img>
        </div>
    </div>