.contacts:before
    content: url('../img/contacts/image 122.png')
    opacity: .4
    position: absolute
    top: 80px
    left: 0
    bottom: 0
    max-width: 100%
    overflow: hidden
    z-index: -1

a
    color: $black
    &:hover
        color: $primary
