.delivery-date
    display: flex
    flex-direction: column

    @extend .buyer-form-wrapper

    &__element
        @extend .optional-receive__element

    &__btn,
    &__free-service
        width: 250px !important
        font-weight: 500

    .first-element
        width: 220px

    .second-element
        width: 120px

    .hiddenDate
        opacity: 0
        position: absolute
        top: 0
        left: 0

//Datetimepicker library customization

.flatpickr-day.selected
    background-color: $primary !important
    background: $primary !important

.flatpickr-calendar
    border-radius: 0

//CUztomized Select box

.custom-select
    position: relative

.custom-select select
    display: none

.select-selected
    // background-color: $white
    color: $black 
    border: none !important
    height: 50px
    padding: 14px 0px !important
    z-index: -4

//style the items (options), including the selected item

.select-items div, .select-selected
    color: $black
    padding: 8px 16px
    border: 1px solid $white
    cursor: pointer
    user-select: none

//style items (options)

.select-items
    position: absolute
    background-color: $white
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08)
    top: 100%
    left: 0
    right: 0
    z-index: 99
    max-height: 200px
    overflow-y: auto

//hide the items when the select box is closed

.select-hide
    display: none

.select-items div:hover, .same-as-selected
    background-color: lighten($gray, 20%)
    border: 1px solid $gray

.same-as-selected
    background-color: lighten($gray, 13%)