<div class="delivery-date">
    <form class="mb-5">
        <div class="d-flex">
            <input id="datetimepicker" autocomplete="off" type="text" placeholder="Дата"
                class="first-element delivery-date__element mr-4">

            <div class="custom-select second-element  delivery-date__element mr-md-4">
                <i class="custom-select__icon"></i>
                <select>
                    <option value="0">Время</option>
                    <option value="1">с 13.00 до 15.00</option>
                    <option value="2">с 13.00 до 15.00</option>
                    <option value="3">с 13.00 до 15.00</option>
                    <option value="4">с 13.00 до 15.00</option>
                    <option value="5">с 13.00 до 15.00</option>
                    <option value="6">с 13.00 до 15.00</option>
                </select>
            </div>
            <button type="button" class="stillage-button gray delivery-date__btn d-none d-md-block">В рамках рабочего
                времени</button>
        </div>

        <button type="button" class="stillage-button gray delivery-date__btn d-md-none">В рамках рабочего
            времени</button>
    </form>

    <div class="d-flex mb-3 pt-md-0">
        <h6 class="mr-2">Подъем на этаж</h6>
        <div class="sign my-1">!</div>
    </div>

    <form class="mb-4">
        <div class="d-flex">
            <div class="custom-select first-element delivery-date__element mr-4">
                <i class="custom-select__icon"></i>
                <select>
                    <option value="placeholder">Грузовой лифт</option>
                    <option value="yes">Да</option>
                    <option value="no">Нет</option>
                </select>
            </div>

            <div class="custom-select second-element  delivery-date__element mr-md-4">
                <i class="custom-select__icon"></i>
                <select>
                    <option value="0">Этаж</option>
                    <option value="1">1-5</option>
                    <option value="2">5-8</option>
                    <option value="3">8-12</option>
                    <option value="4">12-16</option>
                    <option value="5">16-Выше</option>
                </select>
            </div>

            <span class="delivery-date__free-service d-none d-md-block">Подъем на этаж для пенсионеров и инвалидов —
                БЕСПЛАТНО
            </span>
        </div>
        <span class="delivery-date__free-service d-md-none">
            Подъем на этаж для пенсионеров <br> и инвалидов — БЕСПЛАТНО
        </span>
    </form>

    <div class="w-100 text-right delivery-date__price">+390 ₽</div>
</div>