<ul class="product-catalog__list">
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Стеллажи.svg" alt="Stillage icon">
            </span>
            Стеллажи металлические
        </a>

        <div class="product-catalog-lis-item__catalog_hover">
            @@include('src/components/product-catalog-hover/second-level/catalog2.html')
        </div>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Мет мебель.png" alt="Stillage icon">
            </span>
            Металлическая мебель
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Верстаки.png" alt="Stillage icon">
            </span>
            Верстаки
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Сейфы.png" alt="Stillage icon">
            </span>
            Сейфы
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Пр мебель.png" alt="Stillage icon">
            </span>
            Производственная мебель
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Гардеробные.png" alt="Stillage icon">
            </span>
            Гардеробные системы Титан GS
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Мед мебель.png" alt="Stillage icon">
            </span>
            Медицинская мебель и изделия
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Торг оборудование.png" alt="Stillage icon">
            </span>
            Торговое оборудование
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/мебель.png" alt="Stillage icon">
            </span>
            Мебель для сидения
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/столы.png" alt="Stillage icon">
            </span>
            Столы и столешницы
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Вешалка.png" alt="Stillage icon">
            </span>
            Вешалки
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/школьная мебель.png" alt="Stillage icon">
            </span>
            Школьная мебель
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Прочие.png" alt="Stillage icon">
            </span>
            Прочие изделия
        </a>
    </li>
    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/Авт системы.png" alt="Stillage icon">
            </span>
            Автоматические системы хранения
        </a>
    </li>

    <li class="product-catalog__list__item">
        <a href="/" class="text-decoration-none product-catalog__list__item__link">
            <span class="product-catalog__list__item_icon">
                <img src="./img/icons/шкафы мет.png" alt="Stillage icon">
            </span>
            Шкафы металлические
        </a>
    </li>
</ul>