@import '../../../sass/_vars'

.product-catalog
    &__list
        list-style: none
        padding: 70px 0 35px
        min-width: 400px
        height: 100%

    &__item
        &:hover .product-catalog__link_hover
            opacity: 1
            transform: scaleY(1)


        &:hover .product-catalog__link
            color: $primary

    &__item_active
        color: $primary

    &__link
        color: $black
        padding-right: 3rem
        padding-left: 2.5rem
        transition: $transition

        &_icon
            width: 30px
            display: inline-block
            text-align: center

        &_hover
            position: absolute
            right: -400px
            transition: all .25s .1s ease-out
            transform-origin: center top
            transform: scaleY(0)
            background: white
            opacity: 0
            top: 0px
            height: fill-available
            height: -moz-available
            height: -webkit-fill-available 

            &:hover + .product-catalog__link
                color: $primary

        &:hover
            color: $primary