@import '../../../sass/_vars'

.product-catalog
    &__list
        list-style: none
        padding: 70px 0 40px
        min-width: 400px
        height: 100%

    &__item
        &:hover .product-catalog__link_hover
            visibility: visible
            opacity: 1

        &:hover .product-catalog__link
            color: $primary

    &__item_active
        color: $primary

    &__link
        color: $black
        padding-right: 3rem
        padding-left: 3rem
        transition: $transition

        &_icon
            width: 30px
            display: inline-block
            text-align: center

        &_hover
            position: absolute
            transform: translate(401px,-68px)
            background: white
            visibility: hidden
            opacity: 0
            top: 69px
            transition: all $transition easy

            &:hover + .product-catalog__link
                color: $primary

        &:hover
            color: $primary