<div class="navbar-footer">
     <div class="row m-0">
          <div class="col-3 col-lg-3 navbar-footer__list-inline-item">
               <i class="fa fa-heart navbar-footer__list-inline-item__icon"></i>
               Избранные
          </div>
          <div class="col-3 col-lg-3 navbar-footer__list-inline-item">
               <i class="fa fa-list navbar-footer__list-inline-item__icon"></i>
               Сравнение
          </div>
          <div class="col-3 col-lg-3 navbar-footer__list-inline-item">
               <i class="fa fa-search navbar-footer__list-inline-item__icon"></i>
               Поиск
          </div>
          <div class="col-3 col-lg-3 navbar-footer__list-inline-item">
               <i class="fa fa-shopping-cart navbar-footer__list-inline-item__icon"></i>
               Корзина
          </div>
     </div>
</div>