@import '../../sass/_vars'

.outline-button,
.outline-white-button,
.filled-button,
.filled-gray-button
    font-size: 14px
    outline: none
    width: 200px
    height: 40px
    background: none

.outline-button
    border: 1px solid $primary
    color: $primary

.outline-white-button
    border: 1px solid $white
    color: $white

.filled-button
    border: 1px solid $primary
    color: $primary

.filled-gray-button
    border: 1px solid $gray
    color: $gray