@import '../../sass/_vars'
@import '../../sass/_mixins/_media'

.outline-button,
.outline-white-button,
.filled-button,
.filled-gray-button,
.button-filled
    font-size: 14px
    outline: none
    width: 200px
    height: 40px
    background: none
    +respond-to(phone)
        width: 100%

.outline-button
    border: 1px solid $primary
    color: $primary

.outline-white-button
    border: 1px solid $white
    color: $white

.filled-button
    border: 1px solid $primary
    color: $primary

.filled-gray-button
    border: 1px solid $gray
    color: $gray


.add-remove
    height: 24px
    width: 24px
    // background: lighten($gray, 14%)
    color: $white
    font-size: 14px
    border: none