<div class="backet-thanks-card mt-3 mb-3 pr-3 pt-3 pb-3">
                    <div class="row">
                        <div class="col-5 col-sm-4 col-md-2 col-lg-2 text-center">
                            <img src="../../../img/product-card/image 87.png" class="pdf-card-img" alt="Product picture" />
                        </div>
                        <div class="col-7 col-md-10 col-lg-10 pr-4">
                            <div class="d-flex">
                                <div>
                                    <div class="d-flex">
                                        <div class="mr-auto">
                                            <div class="backet-thanks-card__font-weight mb-1 d-none d-lg-block"><a href="#">Архивный стеллаж MS <br> STANDART до 100 кг на полку</a> </div>
                                            <div class="backet-thanks-card__font-weight mb-1 d-lg-none"><a href="#">Архивный стеллаж <br>  MS STANDART до 100 <br>  кг на полку</a></div>
                                        </div>
                                    </div>
                                    <p class="dark-gray mb-auto">ВШГ - 1156x2400x450 мм</p>
                                </div>
                                <div class="ml-auto d-none d-sm-none d-md-block">
                                    <div class="mb-2">
                                        <svg class="backet-thanks-card__svg-icon" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="6" height="6" fill="#848E99"/>
                                        </svg> <span class="dark-gray ml-2">Доставка</span> 
                                    </div>
                                    <div>
                                        <svg class="backet-thanks-card__svg-icon" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="6" height="6" fill="#848E99"/>
                                        </svg> <span class="dark-gray ml-2">Онлайн оплата</span>  
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-sm-none d-md-block">
                                <div class="d-flex pt-2">
                                    <div class="backet-thanks-card__font-weight align-self-center">
                                        1 шт
                                    </div>
                                    <div class="ml-auto">
                                        <h4 class="h4 ml-3 mb-0">1 690 ₽</h4>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="d-block d-xl-none d-lg-none d-md-none">
                        <div class="row">
                            <div class="col-5 col-sm-4 col-md-3 col-lg-3">
                                <div class="mt-2 ml-3">
                                    <div>
                                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="6" height="6" fill="#B6C0CB"/>
                                        </svg>
                                        <span class="dark-gray ml-2">Доставка</span> 
                                    </div>
                                    <div class="backet-thanks-card__online-key">
                                        <svg class="backet-thanks-card__svg-icon" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="6" height="6" fill="#B6C0CB"/>
                                        </svg> <span class="dark-gray ml-2">Онлайн оплата</span> 
                                    </div>
                                    <div>
                                        <svg class="backet-thanks-card__svg-icon" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="6" height="6" fill="#B6C0CB"/>
                                        </svg> <span class="dark-gray ml-2">Сборка</span>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-2 pr-3 pl-3">
                            <div class="backet-thanks-card__font-weight align-self-center">
                                1 шт
                            </div>
                            <div class="ml-auto">
                                <h4 class="h4 ml-3 mb-0">1 690 ₽</h4>
                            </div>
                        </div>
                    </div>
                </div>