<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="subscribe__text col-12 col-md-6">
                <h1 class="title white">Будьте в курсе</h1>
                <p>Подпишитесь на рассылку и узнавайте <br> о новинках и акциях первыми</p>
            </div>

            <form class="subscribe__form col-12 col-md-6">
                <fieldset>
                    <input type="email" class="subscribe__input" placeholder="Адрес электронной почты" required>

                    <label class="stillage-checkbox-container">
                        Я согласен на обработку персональных данных, а также с условиями подписки
                        <input type="checkbox">
                        <span class="stillage-checkmark"></span>
                    </label>
                </fieldset>

                <button class="stillage-button-white subscribe__submit">Подписаться</button>
            </form>
        </div>
    </div>
</div>