@import '../sass/_vars'
@import '../../sass/_custom-components'

.course
    &__red
        background: $primary
        &__color-white
            color: $white

.custom-control-label
    padding-left: 40px