<form class="payment-form">
    <div class="payment-form__choose-method">
        <fieldset>
            <label class="radio-container">Оплата <br> при получении
                <input type="radio" checked="checked" name="radio">
                <span class="radio-stillage-checkmark"></span>
            </label>
        </fieldset>

        <fieldset>
            <label class="radio-container">Онлайн <br> оплата
                <input type="radio" checked="checked" name="radio">
                <span class="radio-stillage-checkmark"></span>
            </label>
        </fieldset>

        <fieldset>
            <label class="radio-container">Оплата наличными <br> или картой (самовывоз)
                <input type="radio" checked="checked" name="radio">
                <span class="radio-stillage-checkmark"></span>
            </label>
        </fieldset>
    </div>

    <div class="payment-form__promocode">
        <input type="text" name="promoCode" placeholder="Введите купон на промокод" id="promoCode">

        <button class="stillage-button-gray">Применить промокод</button>
    </div>
</form>