<div id="sortingBottomSheet" class="sorting-bottomsheet">
    <ul class="sorting-bottomsheet__list">
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По популярности</a></li>
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По цене (по убыванию)</a>
        </li>
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По цене (по возрастанию)</a>
        </li>
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По размеру скидки</a></li>
    </ul>
</div>