<section class="lp-section primary-bg white call-offer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <h5 class="mb-4">Позвоните или напишите нам</h5>
                <div class="d-flexm mb-3">
                    <span class="mr-3">Телефон:</span>
                    <span>+7 (812) 565 03 59</span>
                </div>
                <div class="d-flex">
                    <span class="mr-3">E-mail:</span>
                    <span>info@stillage.pro</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h5 class="mb-4">Оставьте номер</h5>
                <div class="d-flex flex-column flex-sm-row">
                    <span class="call-offer__input mr-4 mb-3 mb-sm-0">
                        @@include('src/components/input/input.html', {"title": "+7 (000) (000) (000)"})
                    </span>

                    <button class="stillage-button-white w-50">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</section>