<a class="d-flex news-card-simple white-bg" href="@@link">
    <div class="align-self-center">
        <img class="news-card__img d-flex align-items-center" src="@@photo" alt="News picture" />
    </div>
    <div class="news-card__body">
        <p class="text-muted">@@date</p>
        <strong class="black">
            @@title
        </strong>
        <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
            @@description
        </p>
        <button class="news-card__body__button">
            <svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.16536 1L0.832031 3.33333L8.4987 11L0.832031 18.6667L3.16536 21L13.1654 11L3.16536 1Z" stroke-width="0.5"/>
            </svg>
        </button>
    </div>
</a>
