<div class="row news-card">
    <div class="col-12 col-md-6 mb-4">
        <div class="media news-card-simple">
            <div class="mr-4 align-self-center">
                <img class="news-card__img" src="../img/news/image152.png" alt="News picture" />
            </div>
            <div class="news-card__body">
                <p class="text-muted">31 марта 2020</p>
                <strong>
                    PRO Стеллаж продолжает работать для Вас!
                </strong>
                <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
                    Для Вашей безопасности, мы вводим ограничения по посещаемости нашего магазина и вводим бесконтактную
                    доставку товаров до двери
                </p>
                <button class="news-card__body__button">
                    <i class="fa fa-angle-right 3x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="media news-card-simple">
            <div class="mr-4 align-self-center">
                <img class="news-card__img" src="../img/news/image89.png" alt="News picture" />
            </div>
            <div class="news-card__body">
                <p class="text-muted">2 марта 2020</p>
                <strong>
                    Новинки продукции Промет 2020 год
                </strong>
                <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
                    Кровать медицинская КМ-05 Кровать медицинская КМ-07 Каталка медицинская для перевозки больных
                    МДТБЛ-01
                </p>
                <button class="news-card__body__button">
                    <i class="fa fa-angle-right 3x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="media news-card-simple">
            <div class="mr-4 align-self-center">
                <img class="news-card__img" src="../img/news/image 90.png" alt="News picture" />
            </div>
            <div class="news-card__body">
                <p class="text-muted">27 февраля 2020</p>
                <strong>
                    Победитель конкурса
                </strong>
                <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
                    Алекс Данилов выиграл сейф AIKO TT-170
                </p>
                <button class="news-card__body__button">
                    <i class="fa fa-angle-right 3x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="media news-card-simple">
            <div class="mr-4 align-self-center">
                <img class="news-card__img" src="../img/news/image 90.png" alt="News picture" />
            </div>
            <div class="news-card__body">
                <p class="text-muted">27 февраля 2020</p>
                <strong>
                    Победитель конкурса
                </strong>
                <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
                    Алекс Данилов выиграл сейф AIKO TT-170
                </p>
                <button class="news-card__body__button">
                    <i class="fa fa-angle-right 3x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="media news-card-simple">
            <div class="mr-4 align-self-center">
                <img class="news-card__img" src="../img/news/image 90.png" alt="News picture" />
            </div>
            <div class="news-card__body">
                <p class="text-muted">27 февраля 2020</p>
                <strong>
                    Победитель конкурса
                </strong>
                <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
                    Алекс Данилов выиграл сейф AIKO TT-170
                </p>
                <button class="news-card__body__button">
                    <i class="fa fa-angle-right 3x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="media news-card-simple">
            <div class="mr-4 align-self-center">
                <img class="news-card__img" src="../img/news/image 90.png" alt="News picture" />
            </div>
            <div class="news-card__body">
                <p class="text-muted">27 февраля 2020</p>
                <strong>
                    Победитель конкурса
                </strong>
                <p class="mt-3 mb-0 news-card__size-text d-none d-xl-block d-lg-block">
                    Алекс Данилов выиграл сейф AIKO TT-170
                </p>
                <button class="news-card__body__button">
                    <i class="fa fa-angle-right 3x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
