<div class="product-card">
    <div class="product-card__header d-flex justify-content-between">
        <div class="product-card__stock"></div>

        <div class="product-card__actions d-flex justify-content-between">
            <button class="d-flex align-items-center mr-3 text-decoration-none top-bar__favorite">
                <i class="fas fa-heart mr-1"></i>
            </button>

            <button class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare">
                <i class="fas fa-list-ul mr-1"></i>
            </button>
        </div>

    </div>

    <img src="./img/product-card/image 87.png" class="product-card__image" alt="Product card">

    <div class="product-card__info">
        <h3>Архивный стеллаж MS STANDART до 100 кг на полку</h3>
        <span class="text-muted">ВШГ - 1156x2400x450 мм</span>
    </div>

    <div class="product-card__footer d-flex justify-content-between">
        <div class="product-card__prices">
            <div class="span product-card__old-price">1 957 ₽</div>
            <div class="span product-card__new-price">1 690 ₽</div>
        </div>
        <button class="product-card__add-to-cart">В корзину</button>
    </div>
</div>