<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="dark-gray">Наши клиенты</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo1"></div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo2"></div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo3"></div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo4"></div>
        </div>



        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo5"></div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo6"></div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo7"></div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="client-logo logo8">
            </div>
        </div>

    </div>