<div class="drawer-menu">
    <ul class="nav flex-column mb-5">
        <li class="nav-item">
            <a href="/social-networks/social-networks.html">
                <h4 class="white d-flex">
                    <span class="mr-auto">
                        Социальные сети
                    </span>
                    <i class="fa fa-angle-right mt-1"></i>
                </h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="/catalog/catalog.html">
                <h4 class="white d-flex">
                    <span class="mr-auto">
                        Каталог товаров
                    </span>
                    <i class="fa fa-angle-right mt-1"></i>
                </h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="/actions/actions.html">
                <h4 class="white">Акции</h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="/news/news.html">
                <h4 class="white">Новости</h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="/buy-out/buy-out.html">
                <h4 class="white">Выкуп б/у стеллажей</h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="/information/information.html">
                <h4 class="white">Информация</h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="/contacts/contacts.html">
                <h4 class="white">Контакты</h4>
            </a>
        </li>
        <li class="nav-item">
            <a href="#test-form" class="popup-with-form">
                <h4 class="white">Прайс</h4>
            </a>
        </li>
    </ul>
    <ul class="nav site-footer__nav flex-column mb-4">
        <li class="nav-item mb-3">
            <a href="" class="site-footer__nav-link nav-link">
                <span class="footer-bar__color-red">8 (812) 565 03 59</span> <br>
                <span class="footer-bar__color-white-link">info@stillage.pro</span>
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="" class="site-footer__nav-link nav-link">
                Санкт-Петербург,<br>
                ул. Зайцева, 41
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="" class="site-footer__nav-link nav-link">
                Санкт-Петербург,<br>
                ул. Зайцева, 41
            </a>
        </li>
    </ul>
</div>

<div class="close-btn-wrapper position-relative">
    <button class="drawer-menu-close black">
        <i class="fa fa-times"></i>
    </button>
</div>

<div class="mobile-menu-overlay"></div>