.drawer-menu
    background: #26323f
    width: 87%
    top: 0
    left: 0
    flex: 1 0 auto
    height: 100%
    z-index: 1200
    position: fixed
    overflow-y: auto
    flex-direction: column
    padding: 40px 20px 10px 20px

.mobile-menu-overlay
    position: absolute
    background: rgba(38, 50, 63, 0.781)
    top: 0
    bottom: 0
    width: 100vw
    height: 100vh
    z-index: 5

.close-btn-wrapper
    width: 100vw
    height: 100vh
    z-index: 10

.drawer-menu-close
    position: absolute
    right: 10px
    top: 10px