@@include('src/components/sorting-bottomsheet/sorting-bottomsheet.html')

<div class="mobile-menu-overlay"></div>

<div class="mobile-menu-modal">
    <div class="drawer-menu">
        <button class="drawer-menu__close black">
            <svg width="18" height="18" viewBox="0 0 18 18">
                <path
                    d="M18 2.12108L15.8789 0L8.99998 6.87889L2.12108 0L0 2.12108L6.87889 8.99998L0 15.8789L2.12108 18L8.99998 11.1211L15.8789 18L18 15.8789L11.1211 8.99998L18 2.12108Z"
                    fill="white" />
            </svg>
        </button>

        <ul class="nav flex-column mb-5">
            <li class="nav-item">
                <div class="white d-flex">
                    <a  href="/contact/contact.html" class="mr-auto">
                        Социальные сети
                    </a>

                    <button class="drawer-menu__social-media">
                        <svg width="12" height="16" viewBox="0 0 12 16">
                            <path
                                d="M2.93307 0L1.06641 1.86667L7.19974 8L1.06641 14.1333L2.93307 16L10.9331 8L2.93307 0Z"
                                fill="white" stroke="white" stroke-width="0.5" />
                        </svg>
                    </button>
                </div>
            </li>
            <li class="nav-item">
                <div class="white d-flex">
                    <a href="/catalog/catalog.html" class="mr-auto">
                        Каталог товаров
                    </a>
                    <button class="drawer-menu__product-catalog">
                        <svg width="12" height="16" viewBox="0 0 12 16">
                            <path
                                d="M2.93307 0L1.06641 1.86667L7.19974 8L1.06641 14.1333L2.93307 16L10.9331 8L2.93307 0Z"
                                fill="white" stroke="white" stroke-width="0.5" />
                        </svg>
                    </button>
                </div>
            </li>
            <li class="nav-item">
                <a href="/actions/actions.html">
                    Акции
                </a>
            </li>
            <li class="nav-item">
                <a href="/news/news.html">
                    Новости
                </a>
            </li>
            <li class="nav-item">
                <a href="/buy-out/buy-out.html">
                    Выкуп б/у стеллажей
                </a>
            </li>
            <li class="nav-item">
                <a href="/information/information.html">
                    Информация
                </a>
            </li>
            <li class="nav-item">
                <a href="/contacts/contacts.html">
                    Контакты
                </a>
            </li>
            <li class="nav-item">
                <a href="#test-form" class="popup-with-form price-link">
                    Прайс
                </a>
            </li>
            <li class="nav-item">
                <a href="/bucket/basket.html" class="popup-with-form price-link">
                    Карзина
                </a>
            </li>
        </ul>
        <ul class="nav site-footer__nav flex-column mb-4">
            <li class="nav-item mb-3">
                <a href="" class="site-footer__nav-link nav-link">
                    <span class="footer-bar__color-red">8 (812) 565 03 59</span> <br>
                    <span class="footer-bar__color-white-link">info@stillage.pro</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <div class="drawer-menu__text">
                    Санкт-Петербург,<br>
                    ул. Зайцева, 41
                </div>
            </li>
            <li class="nav-item mb-3">
                <div class="drawer-menu__text">
                    Пн-Пт 10.00–19.00<br>
                    Сб-Вс 11.00-18.00
                </div>
            </li>
        </ul>
    </div>

</div>