<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html",
            "quickViewBtn": "stillage-view-btn"
            })
        </div>

        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95 (1).png",
            "title": "Сейви",
            "cardLink": "/product-detail/product-detail.html",
            "quickViewBtn": "safe-view-btn"
            })
        </div>

        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95 (2).png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95 (3).png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-lg-6">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-horizontal.html', {
            "photo": "./img/product-catalog/image 78.png",
            "title": "Гардеробные системы Титан GS",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>


        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>

        <div class="col-12 col-sm-6 col-lg-3">

            @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
            "photo": "./img/product-catalog/Rectangle 95.png",
            "title": "Стеллажи металлические",
            "cardLink": "/product-detail/product-detail.html"
            })

        </div>
    </div>
</div>