<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические",
                "cardLink": "#",
                "quickViewBtn": "stillage-view-btn"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95 (1).png",
                "title": "Сейви",
                "cardLink": "#",
                "quickViewBtn": "safe-view-btn"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95 (2).png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95 (3).png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>

        <div class="col-12 col-lg-6">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-horizontal.html', {
                "photo": "./img/product-catalog/image 78.png",
                "title": "Гардеробные системы Титан GS"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>


        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <a href="#" class="text-decoration-none">
                @@include('src/components/product-catalog/product-catalog-card/product-catalog-card.html', {
                "photo": "./img/product-catalog/Rectangle 95.png",
                "title": "Стеллажи металлические"
                })
            </a>
        </div>
    </div>
</div>