<div class="container">
    <h3 class="dark-gray mb-4 f-w-600">О компании</h3>

    <div class="row">
        <div class="col-12 col-md-6">
            <img src="../img/about/image 91.png" class="about__img mb-5" alt="About company">
        </div>

        <div class="col-12 col-md-6">
            <div class="about__text">
                <p class="gray">Мы – компания Pro стеллаж. Качество - это наша работа. Достичь высокого результата
                    в производстве стеллажной мебели и сейфов нам помогает несколько стадий проверки качества продукции.
                    Вначале - выбор наилучших материалов для производства стеллажей. Затем - контроль во время самого
                    производства металлической мебели.
                    В самом конце, перед продажей товаров, мы тщательно проверяем всю партию готовых стеллажей, чтобы
                    покупателям досталось только лучшее.
                </p>

                <p class="gray">
                    Сохраняя качество, мы стараемся держать минимально возможные цены на нашу продукцию. Лучшие стеллажи
                    и
                    сейфы только по лучшей цене!
                </p>

                <p class="gray">
                    Внимание к клиенту – для нас ключевой фактор. Выбрать подходящий стеллаж
                    не простая работа. Поэтому мы относимся со всем вниманием и помогаем в сложном выборе стеллажной
                    мебели,
                    отвечая на любые интересующие вопросы.
                    Мы гарантируем для Вас высокий уровень обслуживания и лучшие условия для покупки!
                </p>

            </div>
        </div>
    </div>
</div>