/** The actual timeline */
.timeline::after
    content: ''
    position: absolute
    width: 1px
    background-color: lighten($gray, 5%)
    top: 0
    bottom: 0
    left: -30px
    +respond-to(phone-land)
        display: none

.timeline::before
    content: ''
    position: absolute
    width: 18px
    height: 18px
    left: -38px
    background-color: lighten($gray, 15%)
    top: 0
    z-index: 1
    +respond-to(phone-land)
        display: none

