.information-button
    box-shadow: 0 4px 15px -8px #eaeaea
    height: 64px
    padding: 20px
    cursor: pointer
    max-width: 288px
    font-weight: 600
    +respond-to(phone-land)
        max-width: 100%
        
    i
        color: $gray
        font-size: 20px

.information-button-active
    background: $gray
    color: $white

    i
        color: $white
