.product-detail

    &__header
        @extend .safe-modal__header

    &__product-img
        width: 50%

    &__product-img-box
        max-width: 100%
        margin-bottom: 10px
        height: 280px
        display: flex
        align-items: center
        justify-content: center
        img
            max-width: 100%
            width: auto !important
            max-height: 100%

        +respond-to(phone)
            height: 200px

    &__contructor
        height: 150px
        width: 85%
        background: url(../../../../../../img/product-detail/constructor.png) no-repeat
        background-size: cover
        display: flex
        flex-direction: column
        justify-content: space-between
        +respond-to(tablet)
            width: 100%
            margin-bottom: 30px

    .sign
        z-index: 4
        position: relative
        &:hover
            cursor: default

        &:hover + .installment-payment__info
            visibility: visible
            
    .installment-payment
        position: relative
        width: fit-content

        &__title
            font-weight: 600

        &__info
            position: absolute
            color: $white
            top: 13px
            right: 9px
            width: 200px
            font-size: 14px
            padding: 15px 10px
            z-index: 3
            background: rgba(38, 50, 63, .9)
            visibility: hidden

            ul
                font-size: 12px

            li
                padding: 3px 0

        &__btn
            color: $white
            background: none
            border: 2px solid $white
            width: 100%
            padding: 10px 15px
            transition: none

            &:hover
                color: $primary
                border-color: $primary

    .constructor-button
        padding-right: 0
        &:hover svg path
            fill: $primary

    table
        width: 100%

    tr:first-child
        margin-bottom: 20px

    td:nth-child(even)
        text-align: right

    td
        width: 50%

    td.product-id
        font-size: 12px


    &__setting-options
        margin-bottom: 50px
        justify-content: space-between

        +respond-to(phone)
            flex-wrap: wrap
            margin-bottom: 0

    &__setting-options>div
        width: 100px
        +respond-to(tablet)
            font-size: 12px
            width: 80px

        +respond-to(phone-land)
            width: 100px

        +respond-to(phone)
            margin-bottom: 20px
            width: 45%
            max-width: 45%


    .setting-options
        &__title
            font-weight: 600
            margin-bottom: 15px
            +respond-to(phone)
                margin-bottom: 5px

    .select-selected
        padding: 7px 3px !important
        height: 30px
        text-align: center
        color: $dark-gray !important
        background: $light-gray

    .custom-select__icon
        top: 9px
        right: 6px

    .select-arrow-active .custom-select__icon
        top: 18px


    .custom-select__icon:after,
    .custom-select__icon:before
        height: 6px
        background: $dark-gray

    .custom-select__icon:before
        transform: translate(-3px,5px) rotate(45deg)

    .custom-select__icon:after
        transform: translate(-3px, 2px) rotate(-45deg)

    .owl-nav,
    .slide-count
        display: none

    .owl-dots 
        width: 100%
        justify-content: center
        left: 0
        right: 0
        bottom: 0

    .owl-carousel
        height: 100%

    .owl-theme .owl-nav
        +respond-to(phone-land)
            display: none

    .owl-theme .owl-dots
        +respond-to(phone-land)
            display: flex

    .price
        font-size: 1.2rem
        font-weight: 700




    &__discount
        height: 150px

    .discount__btn
        @extend .installment-payment__btn
        width: 200px
        transition: $transition
        +respond-to(phone)
            &:hover
                color: $white
                border-color: $white

    &__description-title
        width: 80%
        margin-bottom: 1.3rem
        +respond-to(phone-land)
            margin-bottom: .8rem
            width: 100%

    &__description
        list-style: none
        padding-left: .6em
        width: 95%

    &__description li:before
        content: '\25AA'
        color: $primary
        font-size: 1rem
        font-weight: bolder
        vertical-align: middle
        margin-left: -0.6em
        

.accordion-tab
    display: flex
    padding: 20px 10px
    box-shadow: $shadow
    height: 60px
    align-items: center
    justify-content: space-between
    cursor: pointer

    &_active
        @extend .accordion-tab
        background: $gray
        color: $white
        
        button svg path
            fill: $white

        button
            transform: rotate(45deg)

    &__title
        font-size: 1rem
        font-weight: 600

    +respond-to(tablet)
        font-size: 14px
        margin-bottom: 20px