<div class="product-detail pt-4 pt-md-0">
    <div class="container">
        <div class="row mb-2 mb-md-5">
            <div class="col-12">
                <div class="product-detail__header">
                    <h4 class="product-detail__title title mb-0">
                        SGR-V-ДСП 350 Стеллаж грузовой
                    </h4>

                    <div class="align-self-start d-none d-md-flex">
                        <a href="sravnenie-tovarov.html"
                            class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                            <svg width="20" height="18" viewBox="0 0 20 18">
                                <path
                                    d="M1.62162 0.892578C0.724307 0.892578 0 1.61689 0 2.5142C0 3.41152 0.724307 4.13582 1.62162 4.13582C2.51893 4.13582 3.24324 3.41152 3.24324 2.5142C3.24324 1.61689 2.51893 0.892578 1.62162 0.892578Z"
                                    fill="#B6C0CB" />
                                <path
                                    d="M1.62162 7.37891C0.724307 7.37891 0 8.10321 0 9.00053C0 9.89784 0.724307 10.6221 1.62162 10.6221C2.51893 10.6221 3.24324 9.89784 3.24324 9.00053C3.24324 8.10321 2.51893 7.37891 1.62162 7.37891Z"
                                    fill="#B6C0CB" />
                                <path
                                    d="M1.62162 13.8652C0.718935 13.8652 0 14.595 0 15.4869C0 16.3787 0.729729 17.1085 1.62162 17.1085C2.51351 17.1085 3.24324 16.3787 3.24324 15.4869C3.24324 14.595 2.52431 13.8652 1.62162 13.8652Z"
                                    fill="#B6C0CB" />
                                <path d="M19.9984 14.4062H4.86328V16.5684H19.9984V14.4062Z" fill="#B6C0CB" />
                                <path d="M19.9984 1.43359H4.86328V3.59577H19.9984V1.43359Z" fill="#B6C0CB" />
                                <path d="M19.9984 7.91992H4.86328V10.0821H19.9984V7.91992Z" fill="#B6C0CB" />
                            </svg>

                        </a>

                        <a href="favorites.html"
                            class="d-flex align-items-center text-decoration-none top-bar__favorite" id="msFavoriter">
                            <svg width="20" height="19" viewBox="0 0 20 19">
                                <path
                                    d="M14.5 0C12.8 0 11.1 0.79746 10 2.09333C8.9 0.79746 7.2 0 5.5 0C2.4 0 0 2.39238 0 5.48254C0 9.27047 3.4 12.3606 8.6 16.946L10 18.2419L11.4 16.946C16.5 12.2609 20 9.17079 20 5.48254C20 2.39238 17.6 0 14.5 0ZM10.1 15.5505H10L9.9 15.4508C5.1 11.1644 2 8.37333 2 5.48254C2 3.48889 3.5 1.99365 5.5 1.99365C7 1.99365 8.5 2.99047 9.1 4.38603H11C11.5 2.99047 13 1.99365 14.5 1.99365C16.5 1.99365 18 3.48889 18 5.48254C18 8.37333 14.9 11.1644 10.1 15.5505Z"
                                    fill="#B6C0CB" />
                            </svg>

                        </a>

                    </div>
                </div>
                <span class="gray">ВШГ - 173x300x230 мм</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="owl-carousel owl-product-detail owl-theme">
                    <div class="product-detail__product-img-box mt-3">
                        <img src="../img/safes/safe_modal.png" alt="stillage">
                    </div>

                    <div class="product-detail__product-img-box">
                        <img src="../img/product-catalog/Rectangle 95 (1).png" alt="stillage">
                    </div>

                    <div class="product-detail__product-img-box">
                        <img src="../img/safes/safe_modal.png" alt="stillage">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <table class="mb-5 mb-md-4">
                    <tr>
                        <td class="green pb-3">В наличии</td>
                        <td class="gray product-id pb-3">BJGFJJH6667</td>
                    </tr>
                    <tr>
                        <td>Производитель</td>
                        <td>Промет (Россия)</td>
                    </tr>
                    <tr>
                        <td>Вес, кг</td>
                        <td>0,.1 кг</td>
                    </tr>
                    <tr>
                        <td>Серия</td>
                        <td>СТФг</td>
                    </tr>
                    <tr>
                        <td>Бренд</td>
                        <td>СТФг</td>
                    </tr>
                    <tr>
                        <td>Грузоподъемность секции, кг</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Тип соединения</td>
                        <td>болтовое</td>
                    </tr>
                    <tr>
                        <td>Шаг перестановки полок, мм</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Материал полок/яруса</td>
                        <td>Металл</td>
                    </tr>
                </table>


                <div class="d-flex product-detail__setting-options setting-options justify-content-between">
                    <div class="product-detail__product-height">
                        <div class="dark-gray setting-options__title">Высота</div>
                        <div class="stillage-custom-select product-detail__element">
                            <i class="stillage-custom-select__icon"></i>
                            <select>
                                <option value="0">1200</option>
                                <option value="1">1200</option>
                                <option value="2">1400</option>
                                <option value="3">1560</option>
                            </select>
                        </div>
                    </div>

                    <div class="product-detail__product-width">
                        <div class="dark-gray setting-options__title">Ширина</div>
                        <div class="stillage-custom-select product-detail__element">
                            <i class="stillage-custom-select__icon"></i>
                            <select>
                                <option value="0">700</option>
                                <option value="1">800</option>
                                <option value="2">1400</option>
                                <option value="3">1560</option>
                            </select>
                        </div>
                    </div>

                    <div class="product-detail__product-deep">
                        <div class="dark-gray setting-options__title">Глубина</div>
                        <div class="stillage-custom-select product-detail__element">
                            <i class="stillage-custom-select__icon"></i>
                            <select>
                                <option value="0">200</option>
                                <option value="1">700</option>
                                <option value="2">300</option>
                                <option value="3">1560</option>
                            </select>
                        </div>
                    </div>

                    <div class="product-detail__product-count">
                        <div class="dark-gray setting-options__title">Кол-во полок</div>
                        <div class="stillage-custom-select product-detail__element">
                            <i class="stillage-custom-select__icon"></i>
                            <select>
                                <option value="0">4</option>
                                <option value="1">23</option>
                                <option value="2">14</option>
                                <option value="3">15</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 d-none d-sm-flex">
                <div class="product-detail__contructor p-4">
                    <h6 class="white">Конструктор <br> срендегрузовых стеллажей</h6>

                    <div class="d-flex justify-content-between">
                        <span class="white">Соберите свой стеллаж</span>

                        <a href="/constructor/constructor.html" class="constructor-button">
                            <svg width="14" height="22" viewBox="0 0 14 22">
                                <path d="M3.33333 1L1 3.33333L8.66667 11L1 18.6667L3.33333 21L13.3333 11L3.33333 1Z"
                                    fill="#F4F7FB" stroke="#F4F7FB" stroke-width="0.5" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 product-detail__actions">
                <div class="prices mb-2">
                    <div class="prices__old-price dark-gray">1 957 ₽</div>
                    <div class="prices__new-price primary">1 690 ₽</div>
                </div>

                <div class="d-flex product-detail__installment-payment installment-payment mb-3">
                    <small class="mr-2 gray">от 253 ₽ / мес. для клиентов Тинькофф и Почта банка</small>
                    <div class="sign m-0">?</div>

                    <div class="installment-payment__info">
                        <div class="mb-2 installment-payment__title">Этот товар можно купить <br>
                            в рассрочку
                        </div>

                        <div class="d-flex justify-content-between mb-2">
                            <ul class="list-unstyled">
                                <li>Первый взнос</li>
                                <li>Срок</li>
                                <li>Платеж</li>
                            </ul>

                            <ul class="list-unstyled text-right">
                                <li>от 0₽</li>
                                <li>от 3 до 36 мес.</li>
                                <li>от 253₽/мес.</li>
                            </ul>
                        </div>

                        <a href="#" class="white mb-2 d-inline-block">Подробнее</a>

                        <button class="installment-payment__btn">
                            Купить в рассрочку
                        </button>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-12 col-lg-6">
                        <button class="w-100 stillage-button-gray mb-3  mb-lg-0" type="submit">
                            Нужна консультация
                        </button>
                    </div>

                    <div class="col-12 col-lg-6">
                        <button class="w-100 stillage-button-gray" type="submit">Купить в один клик</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <button class="w-100 stillage-button-primary" type="submit">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="d-md-none lp-section mb-4">
        <div class="product-detail__contructor p-4 m-0">
            <h6 class="white">Конструктор <br> срендегрузовых <br> стеллажей</h6>
            <div class="d-flex justify-content-between">
                <span class="white">Соберите свой стеллаж</span>

                <a href="/constructor/constructor.html" class="constructor-button">
                    <svg width="14" height="22" viewBox="0 0 14 22">
                        <path d="M3.33333 1L1 3.33333L8.66667 11L1 18.6667L3.33333 21L13.3333 11L3.33333 1Z"
                            fill="#F4F7FB" stroke="#F4F7FB" stroke-width="0.5" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="d-flex justify-content-between flex-column align-items-baseline white primary-bg p-4">
            <h5 class="mb-3">Нашли дешевле? <br> Сделаем скидку!</h5>
            <button class="discount__btn">Заполнить форму</button>
        </div>

    </section>

    <section class="lp-section d-none d-md-block">
        <div class="black-bg product-detail__discount d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-baseline white">
                            <h5>Нашли дешевле? Сделаем скидку!</h5>
                            <button class="discount__btn">Заполнить форму</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="gray">Описание</h5>
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-12 col-md-6">
                    <h6 class="product-detail__description-title">Стеллажи серии SGR-V-350, соответствуют ГОСТ Р
                        56356-2015, технические особенности, рекомендации
                        по сборке и эксплуатации стеллажа SGR-V-350:
                    </h6>

                    <ul class="product-detail__description">
                        <li> Максимальная равномерная допустимая нагрузка на каждый ярус стеллажа 350 кг;</li>
                        <li>Тип крепления балок к стойкам - при помощи зацепов;</li>
                        <li> Для предотвращения случайного съема балки, предусмотрены специальные
                            металлические фиксаторы.
                        </li>
                    </ul>
                    <span class="mb-3 d-inline-block">На каждый зацеп должен быть установлен фиксатор!</span>

                    <ul class="product-detail__description">
                        <li>
                            Перестановка горизонтальных ярусов стеллажа не требует демонтажа всего
                            стеллажа и специальных крепежных элементов;
                        </li>
                        <li> Шаг регулировки горизонтальных ярусов по высоте составляет не менее 50 мм;</li>
                        <li>
                            Для обеспечения устойчивости конструкции стеллажа, нижний горизонтальный
                            ярус размещается на высоте не более 300 мм от пола, каждый последующий ярус
                            с интервалом не более 800 мм от предыдущего;
                        </li>
                    </ul>

                    <ul class="product-detail__description">
                        <li>
                            Для дополнительной устойчивости стеллажа, каждая стойка стеллажа
                            комплектуется металлическим подпятником, который устанавливается
                            на нижнюю часть стойки и фиксируется крепежными элементами;
                        </li>
                        <li> На каждом металлическом подпятнике предусмотрено не менее двух отверстий
                            диаметром не менее 13 мм, для возможности анкерного крепления стеллажа к полу.
                        </li>
                    </ul>

                </div>

                <div class="col-12 col-md-6">
                    <h6 class="product-detail__description-title">Стяжка рамная <br> SGR-V:</h6>

                    <ul class="product-detail__description">
                        <li> Стяжки изготавливаются из качественной холоднокатаной оцинкованной стали
                            марки 08 ПС толщиной не менее 1 мм;
                        </li>
                        <li> Стяжки имеют сложный, фигурный профиль С - образной формы с размером
                            сечения не менее 24 х 12 мм;
                        </li>
                        <li>
                            Профиль стяжки имеет не менее четырех изгибов (ребер) жесткости;
                        </li>
                    </ul>

                    <ul class="product-detail__description">
                        <li>
                            На каждой стяжке предусмотрены не менее двух отверстий диаметром
                            не менее 6 мм, для крепления к стойкам;
                        </li>

                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 col-md-6">
                    <h6 class="product-detail__description-title">
                        Балки <br> SGR-V-350:
                    </h6>

                    <ul class="product-detail__description">
                        <li> Балки изготавливаются из качественной холоднокатаной стали марки
                            Ст 20 толщиной не менее 0,8 мм;
                        </li>
                        <li> Балки имеют сложный, фигурный профиль С- образной формы
                            с размером сечения не менее 80 х 36,5 мм;
                        </li>
                        <li>
                            Профиль балки имеет не менее девяти изгибов (ребер) жесткости;
                        </li>
                        <li>
                            На каждой балке предусмотрены не менее четырех отверстий,
                            по два с каждой стороны, диаметром не менее 7 мм, для крепления зацепов;
                        </li>
                        <li>
                            Балки SGR-V длина: 1200/1500/1800/2100;
                        </li>
                        <li>
                            Тип покрытия балок - порошковое, полимерное;
                        </li>
                        <li>
                            Цвет покрытия балок – RAL 7035;
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-6">
                    <h6 class="product-detail__description-title">Стяжка <br> балок SGR-V: </h6>

                    <ul class="product-detail__description">
                        <li> Стяжки изготавливаются из качественной холоднокатаной стали марки
                            08 ПС толщиной не менее 0,8 мм;
                        </li>
                        <li> Стяжки имеют сложный, фигурный V-образный профиль с размером сечения
                            не менее 58 х 41 мм;
                        </li>
                        <li>
                            На каждой стяжке предусмотрены не менее четырех пазов прямоугольной формы,
                            размером не менее 11х4 мм, для надежной фиксации на внутреннем профиле балок;
                        </li>
                    </ul>

                    <ul class="product-detail__description">
                        <li>
                            На каждой балке предусмотрены не менее четырех отверстий,
                            по два с каждой стороны, диаметром не менее 7 мм, для крепления зацепов;
                        </li>
                        <li>
                            Балки SGR-V длина: 1200/1500/1800/2100;
                        </li>
                        <li>
                            Тип покрытия балок - порошковое, полимерное;
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="lp-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div id="tab1" class="accordion-tab detail-tab">
                        <div class="accordion-tab__title">Доставка и оплата</div>
                        <button class="accordion-tab__btn">
                            <svg width="24" height="23" viewBox="0 0 24 23">
                                <path
                                    d="M21.7071 12.6469L21.7071 9.98052L13.0597 9.98049L13.0597 1.33318H10.3934L10.3934 9.98049L1.74604 9.98052L1.74604 12.6469L10.3934 12.6469V21.2942L13.0597 21.2942L13.0598 12.6469L21.7071 12.6469Z"
                                    fill="#B6C0CB" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div id="tab2" class="accordion-tab detail-tab">
                        <div class="accordion-tab__title">Возврат и гарантия</div>
                        <button class="accordion-tab__btn">
                            <svg width="24" height="23" viewBox="0 0 24 23">
                                <path
                                    d="M21.7071 12.6469L21.7071 9.98052L13.0597 9.98049L13.0597 1.33318H10.3934L10.3934 9.98049L1.74604 9.98052L1.74604 12.6469L10.3934 12.6469V21.2942L13.0597 21.2942L13.0598 12.6469L21.7071 12.6469Z"
                                    fill="#B6C0CB" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div id="tab3" class="accordion-tab detail-tab">
                        <div class="accordion-tab__title">Сертификаты, лицензии</div>
                        <button class="accordion-tab__btn">
                            <svg width="24" height="23" viewBox="0 0 24 23">
                                <path
                                    d="M21.7071 12.6469L21.7071 9.98052L13.0597 9.98049L13.0597 1.33318H10.3934L10.3934 9.98049L1.74604 9.98052L1.74604 12.6469L10.3934 12.6469V21.2942L13.0597 21.2942L13.0598 12.6469L21.7071 12.6469Z"
                                    fill="#B6C0CB" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div id="tab4" class="accordion-tab detail-tab">
                        <div class="accordion-tab__title">Инструкции по сборке</div>
                        <button class="accordion-tab__btn">
                            <svg width="24" height="23" viewBox="0 0 24 23">
                                <path
                                    d="M21.7071 12.6469L21.7071 9.98052L13.0597 9.98049L13.0597 1.33318H10.3934L10.3934 9.98049L1.74604 9.98052L1.74604 12.6469L10.3934 12.6469V21.2942L13.0597 21.2942L13.0598 12.6469L21.7071 12.6469Z"
                                    fill="#B6C0CB" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- --------------- Accordion content conteins Shipping, Inscructions, Certificate, Return-warranty  -------------------------- -->
    @@include('src/components/accordion-content/accordion-content.html')


    <section class="lp-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="title-middle mb-5">Похожие товары</h4>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    @@include('src/components/action-catalog/action-card/action-card.html', {
                    "photo": "../../../img/catalog/stillage-metalicheskoe/3.png",
                    "badge1": "Акция",
                    "badge2":"",
                    "badge3":"",
                    "bagdeBg1": "primary-bg",
                    "title": "Подпятник <br> пластмассовый",
                    "info": "ВШГ - 1156x2400x450 мм",
                    "oldPrice": "1 957₽",
                    "price": "10₽",
                    "button": "В корзину",
                    "link": "#"
                    })
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    @@include('src/components/action-catalog/action-card/action-card.html', {
                    "photo": "../../../img/catalog/stillage-metalicheskoe/3.png",
                    "badge1": "Акция",
                    "badge2":"",
                    "badge3":"",
                    "bagdeBg1": "primary-bg",
                    "title": "Подпятник <br> пластмассовый",
                    "info": "ВШГ - 1156x2400x450 мм",
                    "oldPrice": "1 957₽",
                    "price": "10₽",
                    "button": "В корзину",
                    "link": "#"
                    })
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-none d-md-block">
                    @@include('src/components/action-catalog/action-card/action-card.html', {
                    "photo": "../../../img/catalog/stillage-metalicheskoe/stillage-srednegruzovie/3.png",
                    "badge1": "",
                    "bagdeBg1": "",
                    "title": "Полка <br> СТФЛ",
                    "info": "ВШГ - 1156x2400x450 мм",
                    "oldPrice": "",
                    "price": "560₽",
                    "priceColor": "black",
                    "button": "В корзину",
                    "link": "#"
                    })
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-none d-md-block">
                    @@include('src/components/action-catalog/action-card/action-card.html', {
                    "photo": "../../../img/catalog/stillage-metalicheskoe/3.png",
                    "badge1": "Акция",
                    "badge2":"",
                    "badge3":"",
                    "bagdeBg1": "primary-bg",
                    "title": "Подпятник <br> пластмассовый",
                    "info": "ВШГ - 1156x2400x450 мм",
                    "oldPrice": "1 957₽",
                    "price": "10₽",
                    "button": "В корзину",
                    "link": "#"
                    })
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <button class="gray text-button">Посмотреть все</button>

                        <div class="actions-pagination d-flex">
                            <button class="icon-button actions-pagination__turn-left">
                                <svg width="9" height="14" viewBox="0 0 9 14">
                                    <path
                                        d="M7.05853 0.93335L8.5752 2.45002L3.59186 7.43335L8.5752 12.4167L7.05853 13.9333L0.558528 7.43335L7.05853 0.93335Z"
                                        fill="white" stroke="#B6C0CB" stroke-width="0.5" />
                                </svg>

                            </button>

                            <button class="gray">
                                1
                            </button>

                            <button class="black">
                                2
                            </button>

                            <button class="gray">
                                3
                            </button>

                            <button class="icon-button actions-pagination__turn-right">
                                <svg width="10" height="14" viewBox="0 0 10 14">
                                    <path
                                        d="M2.51569 1L0.999023 2.51667L5.98236 7.5L0.999023 12.4833L2.51569 14L9.01569 7.5L2.51569 1Z"
                                        fill="white" stroke="#B6C0CB" stroke-width="0.5" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@@include('src/components/bucket-page/discount-modal/discount-modal.html')