<form class="optional-payment-form">
    <div class="optional-payment-form__choose-method">
        <fieldset>
            <label class="radio-container"> Оплата <br> при получении
                <input type="radio" checked="checked" name="radio">
                <span class="radio-checkmark"></span>
            </label>
        </fieldset>

        <fieldset>
            <label class="radio-container">  Онлайн <br> оплата
                <input type="radio" checked="checked" name="radio">
                <span class="radio-checkmark"></span>
            </label>
        </fieldset>
    </div>

    <fieldset class="mb-3">
        <label class="checkbox-container">Оплата картой
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container">Оплата наличными
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </fieldset>

    <div class="optional-payment-form__promocode">
        <input type="text" name="promoCode" placeholder="Введите купон на промокод" id="promoCodeOptional">

        <button class="stillage-button gray">Применить промокод</button>
    </div>
</form>