<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#4a96ff" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@@title</title>

    <!-- CSS-->
    <link href="/css/libs.min.css" rel="stylesheet" />
    <link href="/css/theme.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900" rel="stylesheet" />
</head>

<body>
    <!-- Sections -->
    <main id="siteContent" class="site-content">
        <!-- Site header goes here -->

        <header id="siteHeader" class="site-header bg-white w-100">
            <div class="top-bar position-fixed w-100 py-3">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="d-flex">
                            <a href="/">
                                <img src="../../img/logo/logo-sm.png" alt="Главная – Pro Стеллаж"
                                    class="top-bar__logo img-fluid" title="Главная – Pro Стеллаж" />
                            </a>
                        </div>

                        <div class="d-block  top-bar__work-location">
                            <div>
                                <span class="d-block">Санкт-Петербург,</span>
                                <span> ул. Зайцева, 41</span>
                            </div>

                        </div>
                        <div class="d-block top-bar__work-time">
                            <div>
                                <span class="d-block">Пн-Пт 10.00–19.00</span>
                                <span>Сб-Вс 11.00-18.00</span>
                            </div>
                        </div>
                        <div class="d-none d-lg-block  top-bar__contact">
                            <div>
                                <a href="tel:+78125650359" class="top-bar__phone d-block ya-phone">
                                    8 (812)565 03-59
                                </a>
                                <a href="#" class="top-bar__email">
                                    <span>info@stillage.pro</span>
                                </a>
                            </div>
                        </div>

                        <a href="favorites.html" id="msFavoriter">
                            <i class="fas fa-heart"></i>
                            <span>Избранное</span>
                        </a>

                        <a href="sravnenie-tovarov.html" id="msCompare">
                            <i class="fas fa-list-ul"></i>
                            <span>Сравнение</span>
                        </a>

                        <div>
                            <i class="fas fa-search"></i>
                        </div>

                        <div>
                            <i class="fas fa-shopping-cart"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="site-header__nav">
                <div class="container d-flex">
                    <nav>
                        <ul class="nav align-items-end d-none d-lg-flex">
                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    <i class="fal fa-bars"></i>
                                    Каталог товаров
                                </a>
                            </li>
                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    Акции
                                </a>
                            </li>

                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    Новости
                                </a>
                            </li>

                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    Выкуп б/у стеллажей
                                </a>
                            </li>

                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    Информация
                                </a>
                            </li>

                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    Контакты
                                </a>
                            </li>

                            <li class="site-header__nav-item nav-item">
                                <a href="catalog/" class="site-header__nav-link nav-link">
                                    Прайс
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

</html>