<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#4a96ff" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@@title</title>

    <!-- CSS-->
    <link href="/css/libs.min.css" rel="stylesheet" />
    <link href="/css/theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <!-- Sections -->
    <main id="siteContent" class="site-content">
        <!-- Site header goes here -->

        <header id="siteHeader" class="site-header bg-white">


            <div class="top-bar bg-white position-fixed w-100 p-0 py-md-3 py-lg-4">
                <div class="container">
                    <div class="row position-relative h-100 justify-content-between m-0">

                        <a href="/menu/menu.html"
                            class="d-xs-flex flex-column align-items-center justify-content-center d-md-none top-bar__hamburger-menu">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </a>

                        <a href="/" class="pl-xl-3 mr-2 mr-lg-3 site-header__nav-link d-flex align-items-center" id="0">
                            <img src="../img/logo/logo-sm.png" alt="Главная – Pro Стеллаж"
                                class="img-fluid top-bar__logo" title="Главная – Pro Стеллаж" />
                        </a>

                        <div
                            class="d-flex justify-content-between align-items-center mr-0 mr-lg-1 mr-xl-5 top-bar__search_area">

                            <div class="d-none d-lg-block  text-muted  pt-1 mr-xl-5 mr-3 top-bar__work-location">
                                <div>Санкт-Петербург,</div>
                                <div> ул. Зайцева, 41</div>
                            </div>
                            <div class="d-none d-lg-block text-muted pt-1 mr-xl-5 mr-3 top-bar__work-time">
                                <div>Пн-Пт 10.00–19.00</div>
                                <div>Сб-Вс 11.00-18.00</div>
                            </div>

                            <div class="d-none pt-1 d-md-block top-bar__contact">
                                <a href="tel:+78125650359"
                                    class="top-bar__phone font-weight-bold text-decoration-none d-block">
                                    8 (812)565 03 59
                                </a>
                                <a href="#" class="top-bar__email text-decoration-none">
                                    <span>info@stillage.pro</span>
                                </a>
                            </div>
                        </div>


                        <div
                            class="top-bar__action d-none ml-lx-4 ml-3 d-md-flex text-decoration-none align-items-center justify-content-between">
                            <a href="favorites.html"
                                class="d-flex align-items-center mr-3 text-decoration-none top-bar__favorite"
                                id="msFavoriter">
                                <i class="far fa-heart mr-1"></i>
                                <span>Избранное</span>
                            </a>

                            <a href="sravnenie-tovarov.html"
                                class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare"
                                id="msCompare">
                                <i class="fas fa-list-ul mr-1"></i>
                                <span>Сравнение</span>
                            </a>

                            <button class="pl-4 d-flex mr-3 top-bar__search-btn">
                                <i class="fas fa-search"></i>
                            </button>

                            <div
                                class="d-flex justify-content-between position-relative align-items-center top-bar__cart-amount">


                                <div class="cart-overlay"></div>

                                @@include('src/components/cart/cart.html')

                                <div class="mr-3 top-bar__cart_button position-relative">
                                    <i class="fas fa-shopping-cart"></i>
                                    <div
                                        class="position-absolute text-white d-flex align-items-center justify-content-center top-bar__circle-badge">
                                        12
                                    </div>
                                </div>

                                <span class="text-black bold top-bar__cart_total-amount">12 690 ₽</span>

                            </div>

                        </div>

                        <form action="/" id="searchForm"
                            class="position-absolute align-items-center bg-white justify-content-between top-bar__search-box_hidden">
                            <button class="p-0 mr-3 search-box__submit" type="submit">
                                <i class="fas fa-search pr-2"></i>
                            </button>
                            <input id="search-input" type="text" name="search" placeholder="Поиск товаров на сайте">
                            <button class="p-0 search-box__close" type="button"
                                onclick="document.getElementById('searchForm').reset()">
                                <i class="fas fa-times pl-2"></i>
                            </button>
                        </form>
                    </div>

                    <div class="d-none d-md-flex d-lg-none py-3 ml-3 top-bar__work-info-line">
                        Санкт-Петербург, ул. Зайцева - 41 Пн-Пт 10.00–19.00 | Сб-Вс 11.00-18.00
                    </div>

                </div>
            </div>
            </div>

            <div class="site-header__nav bg-white w-100">
                <div class="container  position-relative d-flex">
                    <ul class="nav align-items-end d-none d-lg-flex" id="mainNav">

                        <li class="site-header__nav-item nav-item d-flex align-items-center">
                            <a href="/catalog/catalog.html" id="1"
                                class="site-header__nav-link d-flex align-items-center nav-link caltalog-link pl-0 pr-2">
                                <i class="fas fa-bars mr-2"></i>
                                Каталог товаров
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>

                            <div class="site-header__nav-item__catalog_hover">
                                @@include('src/components/product-catalog-hover/first-level/catalog.html')
                            </div>
                        </li>
                        <li class="site-header__nav-item nav-item d-flex align-items-center">
                            <a href="/actions/actions.html" id="2"
                                class="site-header__nav-link d-flex align-items-center nav-link pr-2">
                                Акции
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>
                        </li>

                        <li class="site-header__nav-item nav-item d-flex align-items-center">
                            <a href="/news/news.html" id="3"
                                class="site-header__nav-link d-flex align-items-center nav-link pr-2">
                                Новости
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>

                        </li>

                        <li class="site-header__nav-item nav-item d-flex align-items-center">
                            <a href="/buy-out/buy-out.html" id="4"
                                class="site-header__nav-link d-flex align-items-center nav-link pr-2">
                                Выкуп б/у стеллажей
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>
                        </li>

                        <li class="site-header__nav-item nav-item d-flex align-items-center">
                            <a href="/information/information.html" id="5"
                                class="site-header__nav-link d-flex align-items-center nav-link pr-2">
                                Информация
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>
                        </li>

                        <li class="site-header__nav-item nav-item d-flex align-items-center">
                            <a href="/contacts/contacts.html" id="6"
                                class="site-header__nav-link d-flex align-items-center nav-link pr-2">
                                Контакты
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>
                        </li>

                        <li class="site-header__nav-item nav-item d-flex align-items-center">

                            <div class="cart-overlay price-overlay"></div>

                            @@include('src/price/price.html')

                            <a href="#" id="7"
                                class="site-header__nav-link d-flex align-items-center nav-link price-link pr-2">
                                Прайс
                                <i class="fas fa-square-full site-header__nav_square"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </header>

</html>