<div class="recieve-method">
    <div class="recieve-method__card">
        <h6 class="recieve-method__title">
            Самовывоз Санкт- <br>
            Петербург (бесплатно)
        </h6>
        <div class="recieve-method__text d-flex gray">
            <small class="mr-3">
                Санкт-Петербург, <br>
                ул. Зайцева, 41
            </small>

            <small>
                Пн-Пт 10.00–19.00 <br>
                Сб-Вс 11.00-18.00
            </small>
        </div>
    </div>

    <div class="recieve-method__card">
        <div class="d-flex justify-content-between">
            <h6 class="recieve-method__title">
                Доставка <br> (опционально)
            </h6>
            <div class="sign">!</div>
        </div>

        <div class="recieve-method__text d-flex flex-column gray">
            <small class="mb-2">
                Доставка по Санкт-Петербургу и Ленинградской области
            </small>

            <small>
                Доставка по России
            </small>
        </div>
    </div>
</div>