.receive-wrapper
    height: 250px
    background: $sky
    transition: height $transition

    +respond-to(phone)
        height: 120px


    &__optional_active
        height: 500px

        +respond-to(phone)
            height: 610px

    &__optional_active .optional-receive
        visibility: visible

.recieve-method
    @extend .buyer-form-wrapper

    display: flex
    height: 245px

    +respond-to(phone)
        justify-content: space-between
        height: 120px


    &__title
        +respond-to(phone)
            &:hover
                color: $primary

    &__card
        padding: 25px 20px
        border: 1px solid $gray
        height: 100%
        width: 280px
        margin-right: 25px
        cursor: pointer
        transition: border-color $transition

        +respond-to(phone)
            padding: 0
            width: auto
            border: none


        +respond-to(phone)
            margin-right: 0


        &_active
            border-color: $primary

            +respond-to(phone)
                .recieve-method__title
                    color: $primary

                    &:hover
                        color: $primary

.optional-receive
    visibility: hidden
    display: flex
    padding: 0 40px 40px 40px
    width: 100%

    +respond-to(phone-land)
        padding: 0 15px 35px 15px


    +respond-to(phone)
        flex-direction: column


    &__sections
        @extend .recieve-method__card

        padding: 0
        border: 0

    &__element
        @extend .buyer-form__element

        height: 50px
        width: 100%

        +respond-to(phone-land)
            margin-bottom: 20px

    &__price
        position: absolute
        font-size: 24px
        font-weight: 700
        color: $dark-gray
        right: 40px
        bottom: 70px
            
        +respond-to(phone-land)
            bottom: 55px

    &__zone:hover .popup-info
        visibility: visible

.popup-info
    visibility: hidden
    position: absolute
    left: 0
    top: 55px
    max-width: 250px
    width: 200px
    padding: 10px
    font-size: 11px
    background-color: rgba(38, 50, 63, 0.8)
    transition: visibility $transition

    .sign
        position: absolute
        left: -8px
        top: -13px

.sign
    height: 15px
    width: 15px
    margin: 9px 0
    font-size: 10px
    display: flex
    align-items: center
    justify-content: center
    background: $dark-gray
    border-radius: 50%
    color: $white

    +respond-to(tablet)
        margin: 6px 0


    +respond-to(phone-land)
        margin: 4px 0
