<div class="action-card h-auto position-relative">

    <div class="header d-flex justify-content-between align-items-center">
        <div class="header__badge @@bagdeBg text-center">
            @@badge
        </div>

        <div class="header__actions d-flex">
            <button class="icon-button favorite-card-close">
                <svg width="17" height="17" viewBox="0 0 17 17">
                    <path
                        d="M14.8412 16.3125L16.7266 14.4271L10.612 8.31248L16.7266 2.1979L14.8412 0.3125L8.72658 6.42707L2.61197 0.312499L0.726565 2.1979L6.84114 8.31248L0.726565 14.427L2.61197 16.3125L8.72658 10.1979L14.8412 16.3125Z"
                        fill="#B6C0CB" />
                </svg>

            </button>
        </div>
    </div>

    <div class="d-flex horizontal-content">
        <div class="horizontal-content__img-wrapper d-flex justify-content-center h-100 mr-2">
            <a href="@@link" class="text-decoration-none">
                <img src="@@photo" class="action-card__img h-100" alt="Action card image">
            </a>
        </div>

        <div
            class="horizontal-content__text d-flex justify-content-lg-between justify-content-center flex-column mr-lg-4">
            <div>
                <h6 class="horizontal-content__title">
                    <a href="@@link" class="text-decoration-none black">
                        @@title
                    </a>
                </h6>
                <span class="horizontal-content__info dark-gray">
                    @@info
                </span>
            </div>
            <small class="@@productStatusColor">@@productStatus</small>
        </div>



        <div class="horizontal-content__buttons d-none d-lg-flex flex-column justify-content-end">


            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-end">
                    <div class="cart-item__control-buttons d-flex justify-content-between align-items-center">
                        <span class="cart-item__count d-flex align-items-center justify-content-center mr-1">1</span>

                        <button class="remove-button mr-1">—</button>

                        <button class="add-button-black">+</button>
                    </div>
                </div>

                <div class="prices">
                    <span class="prices__old-price dark-gray">@@oldPrice</span>
                    <div class="prices__new-price primary @@priceColor">@@price</div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-lg-none d-flex mt-1 justify-content-between align-items-end">
        <div class="prices">
            <div class="prices__old-price dark-gray mr-3">@@oldPrice</div>
            <div class="prices__new-price primary @@priceColor">@@price</div>
        </div>
        
        <div>
            <div class="d-flex align-items-end">
                <div class="cart-item__control-buttons d-flex justify-content-between align-items-center">
                    <span class="cart-item__count d-flex align-items-center justify-content-center mr-1">1</span>
            
                    <button class="remove-button mr-1">—</button>
            
                    <button class="add-button-black">+</button>
                </div>
            </div>
        </div>
    </div>

</div>