<div id="sortingBottomSheet" class="sorting-bottomsheet">
    <ul class="sorting-bottomsheet__list">
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По популярности</a></li>
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По цене (по убыванию)</a>
        </li>
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По цене (по возрастанию)</a>
        </li>
        <li class="sorting-bottomsheet__item"><a href="#" class="sorting-bottomsheet__link">По размеру скидки</a></li>
    </ul>
</div>


<div class="mobile-menu-overlay"></div>

<div class="mobile-menu-modal">
    <div class="drawer-menu">
        <button class="drawer-menu__close black">
            <svg width="18" height="18" viewBox="0 0 18 18">
                <path
                    d="M18 2.12108L15.8789 0L8.99998 6.87889L2.12108 0L0 2.12108L6.87889 8.99998L0 15.8789L2.12108 18L8.99998 11.1211L15.8789 18L18 15.8789L11.1211 8.99998L18 2.12108Z"
                    fill="white" />
            </svg>
        </button>

        <ul class="nav flex-column mb-5">
            <li class="nav-item">
                <a href="/social-networks/social-networks.html">
                    <h4 class="white d-flex">
                        <span class="mr-auto">
                            Социальные сети
                        </span>
                        <svg width="12" height="16" viewBox="0 0 12 16"  >
                            <path
                                d="M2.93307 0L1.06641 1.86667L7.19974 8L1.06641 14.1333L2.93307 16L10.9331 8L2.93307 0Z"
                                fill="white" stroke="white" stroke-width="0.5" />
                        </svg>

                    </h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/catalog/catalog.html">
                    <h4 class="white d-flex">
                        <span class="mr-auto">
                            Каталог товаров
                        </span>
                        <svg width="12" height="16" viewBox="0 0 12 16"  >
                            <path
                                d="M2.93307 0L1.06641 1.86667L7.19974 8L1.06641 14.1333L2.93307 16L10.9331 8L2.93307 0Z"
                                fill="white" stroke="white" stroke-width="0.5" />
                        </svg>

                    </h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/actions/actions.html">
                    <h4 class="white">Акции</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/news/news.html">
                    <h4 class="white">Новости</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/buy-out/buy-out.html">
                    <h4 class="white">Выкуп б/у стеллажей</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/information/information.html">
                    <h4 class="white">Информация</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/contacts/contacts.html">
                    <h4 class="white">Контакты</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="#test-form" class="popup-with-form price-link">
                    <h4 class="white">Прайс</h4>
                </a>
            </li>
            <li class="nav-item">
                <a href="/bucket/basket.html" class="popup-with-form price-link">
                    <h4 class="white">Карзина</h4>
                </a>
            </li>
        </ul>
        <ul class="nav site-footer__nav flex-column mb-4">
            <li class="nav-item mb-3">
                <a href="" class="site-footer__nav-link nav-link">
                    <span class="footer-bar__color-red">8 (812) 565 03 59</span> <br>
                    <span class="footer-bar__color-white-link">info@stillage.pro</span>
                </a>
            </li>
            <li class="nav-item mb-3">
                <a href="" class="site-footer__nav-link nav-link">
                    Санкт-Петербург,<br>
                    ул. Зайцева, 41
                </a>
            </li>
            <li class="nav-item mb-3">
                <a href="" class="site-footer__nav-link nav-link">
                    Санкт-Петербург,<br>
                    ул. Зайцева, 41
                </a>
            </li>
        </ul>
    </div>

</div>