@import '../../sass/_vars'
.bg-footer
    background-color: $black

.footer-bar
    &__text
        font-size: 12px
        max-width: 230px
    &__color-white
        color: $white
        font-size: 12px
    &__color-white-link
        color: $white
        text-decoration: underline
    &__color-red
        color: $primary
        text-decoration: underline
    &__heading
        color: $white
    &__color-gray
        color: #ffffff
        opacity: 0.2
    

.site-footer__nav
    padding: 0
    &-link
        padding: 0
        margin-bottom: 5px
        color: $gray
        &:hover
            color: $primary