<div class="buyer-form-wrapper">
    <form class="buyer-form">
        <select name="buyer-type" id="buyer" class="buyer-form__element">
            <option value="volvo">Физ. лицо</option>
            <option value="saab">Юр. лицо</option>
        </select>

        <input type="text" name="fullName" placeholder="ФИО" class="buyer-form__element">

        <input type="tel" name="phoneNumber" id="tel" placeholder="+7 (_ _ _) _ _ _ _ _" class="buyer-form__element">

        <input type="email" name="email" id="email" placeholder="E-mail" class="buyer-form__element">
    </form>
</div>