.buyer-form-wrapper
    height: 313px
    background-color: $sky
    padding: 40px
    transition: all $transition

    +respond-to(phone-land)
        padding: 35px 20px

    &__entity_active
        height: 494px
        +respond-to(phone-land)
            height: 487px

.buyer-form
    display: flex
    flex-direction: column
    width: 70%
    min-width: 372px
    height: 100%

    +respond-to(phone-land)
        width: 100%
        min-width: 100%

    &__element
        border: none
        outline: none
        height: 50px
        width: 100%
        background-color: $white
        margin-bottom: 10px
        padding-left: 10px

    &__legal-entity
        width: 100%
        display: none

        &_active
            display: block
