<div class="action-card">

    <div class="header d-flex justify-content-between align-items-center">
        <div class="header__badge text-center">
            @@badge
        </div>

        <div class="header__actions d-flex">
            <a href="sravnenie-tovarov.html"
                class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                <i class="fas fa-list-ul mr-1"></i>
            </a>

            <a href="favorites.html" class="d-flex align-items-center mr-3 text-decoration-none top-bar__favorite"
                id="msFavoriter">
                <i class="far fa-heart"></i>
            </a>

        </div>
    </div>

    <div class="img">
        <a href="@@link" class="text-decoration-none">
            <img src="@@photo" alt="Action card image">
        </a>
    </div>

    <div class="d-flex justify-content-between flex-column mb-3">
        <h6 class="action-card__title">
            <a href="@@link" class="text-decoration-none black">
                @@title
            </a>
        </h6>
        <span class="action-card__info dark-gray">
            @@info
        </span>
    </div>

    <div class="footer d-flex justify-content-between mb-3">
        <div class="footer__prices">
            <span class="old-price dark-gray">@@oldPrice</span>
            <div class="new-price primary">@@price</div>
        </div>
        <button class="add-to-cart align-self-end dark-gray">@@button</button>
    </div>

    <div class="hover-content">
        <div class="d-flex justify-content-between mb-3">
            @@include('./src/components/buttons/add-remove.html', {
            "action": "—",
            "background": "gray-bg"
            })

            <span class="counting-number w-100 mx-2 text-center light-gray-bg">1</span>

            @@include('./src/components/buttons/add-remove.html', {
            "action": "+",
            "background": "primary-bg"
            })

        </div>

        @@include('./src/components/buttons/button.html', {
        "title": "Быстрый просмотр",
        "color": "dark-gray",
        "width": "w-100"
        })

    </div>
</div>