<div class="action-card position-relative">

    <div class="header d-flex justify-content-between align-items-center">
        <div class="header__badge @@bagdeBg text-center">
            @@badge
        </div>

        <div class="header__actions d-flex">
            <a href="sravnenie-tovarov.html"
                class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                <svg width="20" height="18" viewBox="0 0 20 18">
                    <path
                        d="M1.62162 0.892578C0.724307 0.892578 0 1.61689 0 2.5142C0 3.41152 0.724307 4.13582 1.62162 4.13582C2.51893 4.13582 3.24324 3.41152 3.24324 2.5142C3.24324 1.61689 2.51893 0.892578 1.62162 0.892578Z"
                        fill="#B6C0CB" />
                    <path
                        d="M1.62162 7.37891C0.724307 7.37891 0 8.10321 0 9.00053C0 9.89784 0.724307 10.6221 1.62162 10.6221C2.51893 10.6221 3.24324 9.89784 3.24324 9.00053C3.24324 8.10321 2.51893 7.37891 1.62162 7.37891Z"
                        fill="#B6C0CB" />
                    <path
                        d="M1.62162 13.8652C0.718935 13.8652 0 14.595 0 15.4869C0 16.3787 0.729729 17.1085 1.62162 17.1085C2.51351 17.1085 3.24324 16.3787 3.24324 15.4869C3.24324 14.595 2.52431 13.8652 1.62162 13.8652Z"
                        fill="#B6C0CB" />
                    <path d="M19.9984 14.4062H4.86328V16.5684H19.9984V14.4062Z" fill="#B6C0CB" />
                    <path d="M19.9984 1.43359H4.86328V3.59577H19.9984V1.43359Z" fill="#B6C0CB" />
                    <path d="M19.9984 7.91992H4.86328V10.0821H19.9984V7.91992Z" fill="#B6C0CB" />
                </svg>

            </a>

            <a href="favorites.html" class="d-flex align-items-center text-decoration-none top-bar__favorite"
                id="msFavoriter">
                <svg width="20" height="19" viewBox="0 0 20 19">
                    <path
                        d="M14.5 0C12.8 0 11.1 0.79746 10 2.09333C8.9 0.79746 7.2 0 5.5 0C2.4 0 0 2.39238 0 5.48254C0 9.27047 3.4 12.3606 8.6 16.946L10 18.2419L11.4 16.946C16.5 12.2609 20 9.17079 20 5.48254C20 2.39238 17.6 0 14.5 0ZM10.1 15.5505H10L9.9 15.4508C5.1 11.1644 2 8.37333 2 5.48254C2 3.48889 3.5 1.99365 5.5 1.99365C7 1.99365 8.5 2.99047 9.1 4.38603H11C11.5 2.99047 13 1.99365 14.5 1.99365C16.5 1.99365 18 3.48889 18 5.48254C18 8.37333 14.9 11.1644 10.1 15.5505Z"
                        fill="#B6C0CB" />
                </svg>

            </a>

        </div>
    </div>


    <div class="action-card__img-wrapper d-flex justify-content-center">
        <a href="@@link" class="text-decoration-none d-flex">
            <img src="@@photo" class="action-card__img align-self-center" alt="Action card image">
        </a>
    </div>


    <div class="d-flex justify-content-between flex-column content mb-3">
        <h6 class="action-card__title">
            <a href="@@link" class="text-decoration-none black">
                @@title
            </a>
        </h6>
        <span class="action-card__info dark-gray">
            @@info
        </span>
    </div>


    <div class="footer d-flex justify-content-between mb-2">
        <div class="prices">
            <div class="prices__old-price dark-gray">@@oldPrice</div>
            <div class="prices__new-price primary @@priceColor">@@price</div>
        </div>
        <button class="add-to-cart align-self-end dark-gray d-none d-lg-block">@@button</button>

        <button class="footer__cart-button align-self-end d-lg-none">
            <svg width="20" height="20" viewBox="0 0 20 20">
                <path
                    d="M6 16C4.9 16 4 16.9 4 18C4 19.1 4.9 20 6 20C7.1 20 8 19.1 8 18C8 16.9 7.1 16 6 16ZM0 0V2H2L5.6 9.6L4.2 12C4.1 12.3 4 12.7 4 13C4 14.1 4.9 15 6 15H18V13H6.4C6.3 13 6.2 12.9 6.2 12.8V12.7L7.1 11H14.5C15.3 11 15.9 10.6 16.2 9.99996L19.8 3.5C20 3.3 20 3.2 20 3C20 2.4 19.6 2 19 2H4.2L3.3 0H0ZM16 16C14.9 16 14 16.9 14 18C14 19.1 14.9 20 16 20C17.1 20 18 19.1 18 18C18 16.9 17.1 16 16 16Z"
                    fill="#FFFFFF" />
            </svg>

        </button>
    </div>


    <div class="hover-content position-absolute shadow-light">
        <div class="d-flex justify-content-between mb-3">
            @@include('./src/components/buttons/add-remove.html', {
            "action": "—",
            "background": "gray-bg"
            })

            <span class="counting-number w-100 mx-2 text-center light-gray-bg">1</span>

            @@include('./src/components/buttons/add-remove.html', {
            "action": "+",
            "background": "primary-bg"
            })

        </div>

        @@include('./src/components/buttons/button.html', {
        "title": "Быстрый просмотр",
        "color": "dark-gray",
        "width": "w-100"
        })

    </div>
</div>