<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="dark-gray mb-4">Новинки</h3>
        </div>
    </div>
    <div class="d-flex working-way__row justify-content-sm-between">
        <div class="position-relative mr-3">
            <div class="action-card position-relative">

    <div class="header d-flex justify-content-between align-items-center">
        <div class="header__badge black-bg text-center">
            Новинка
        </div>

        <div class="header__actions d-flex">
            <a href="sravnenie-tovarov.html"
                class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                <i class="fas fa-list-ul mr-1"></i>
            </a>

            <a href="favorites.html" class="d-flex align-items-center text-decoration-none top-bar__favorite"
                id="msFavoriter">
                <i class="far fa-heart"></i>
            </a>

        </div>
    </div>


    <div class="action-card__img-wrapper d-flex justify-content-center">
        <a href="#" class="text-decoration-none">
            <img src="./img/product-card/image 88.png" class="action-card__img" alt="Action card image">
        </a>
    </div>


    <div class="d-flex justify-content-between flex-column content mb-3">
        <h6 class="action-card__title">
            <a href="#" class="text-decoration-none black">
                Архивный стеллаж MS STANDART до 100 кг на полку
            </a>
        </h6>
        <span class="action-card__info dark-gray">
            ВШГ - 1156x2400x450 мм
        </span>
    </div>


    <div class="footer d-flex justify-content-between mb-2">
        <div class="prices">
            <span class="prices__old-price dark-gray">1 957₽</span>
            <div class="prices__new-price primary">1 690₽</div>
        </div>
        <button class="add-to-cart align-self-end dark-gray d-none d-lg-block">В корзину</button>

        <button class="icon-button content__cart-button align-self-end d-lg-none">
            <i class="fas fa-shopping-cart"></i>
        </button>
    </div>


    <div class="hover-content position-absolute">
        <div class="d-flex justify-content-between mb-3">
            <button class="gray-bg add-remove d-flex align-items-center justify-content-center">—</button>

            <span class="counting-number w-100 mx-2 text-center light-gray-bg">1</span>

            <button class="primary-bg add-remove d-flex align-items-center justify-content-center">+</button>

        </div>

        <button class="dark-gray w-100 button-filled">Быстрый просмотр</button>

    </div>
</div>
        </div>

        <div class="position-relative mr-3">
            <div class="action-card position-relative">

    <div class="header d-flex justify-content-between align-items-center">
        <div class="header__badge black-bg text-center">
            Новинка
        </div>

        <div class="header__actions d-flex">
            <a href="sravnenie-tovarov.html"
                class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                <i class="fas fa-list-ul mr-1"></i>
            </a>

            <a href="favorites.html" class="d-flex align-items-center text-decoration-none top-bar__favorite"
                id="msFavoriter">
                <i class="far fa-heart"></i>
            </a>

        </div>
    </div>


    <div class="action-card__img-wrapper d-flex justify-content-center">
        <a href="#" class="text-decoration-none">
            <img src="./img/product-card/image 88.png" class="action-card__img" alt="Action card image">
        </a>
    </div>


    <div class="d-flex justify-content-between flex-column content mb-3">
        <h6 class="action-card__title">
            <a href="#" class="text-decoration-none black">
                Архивный стеллаж MS STANDART до 100 кг на полку
            </a>
        </h6>
        <span class="action-card__info dark-gray">
            ВШГ - 1156x2400x450 мм
        </span>
    </div>


    <div class="footer d-flex justify-content-between mb-2">
        <div class="prices">
            <span class="prices__old-price dark-gray">1 957₽</span>
            <div class="prices__new-price primary">1 690₽</div>
        </div>
        <button class="add-to-cart align-self-end dark-gray d-none d-lg-block">В корзину</button>

        <button class="icon-button content__cart-button align-self-end d-lg-none">
            <i class="fas fa-shopping-cart"></i>
        </button>
    </div>


    <div class="hover-content position-absolute">
        <div class="d-flex justify-content-between mb-3">
            <button class="gray-bg add-remove d-flex align-items-center justify-content-center">—</button>

            <span class="counting-number w-100 mx-2 text-center light-gray-bg">1</span>

            <button class="primary-bg add-remove d-flex align-items-center justify-content-center">+</button>

        </div>

        <button class="dark-gray w-100 button-filled">Быстрый просмотр</button>

    </div>
</div>
        </div>

        <div class="position-relative">
            <div class="action-card position-relative">

    <div class="header d-flex justify-content-between align-items-center">
        <div class="header__badge black-bg text-center">
            Новинка
        </div>

        <div class="header__actions d-flex">
            <a href="sravnenie-tovarov.html"
                class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                <i class="fas fa-list-ul mr-1"></i>
            </a>

            <a href="favorites.html" class="d-flex align-items-center mr-3 text-decoration-none top-bar__favorite"
                id="msFavoriter">
                <i class="far fa-heart"></i>
            </a>

        </div>
    </div>

    <div class="d-flex content-large">
        <div class="d-flex content__text justify-content-end flex-column mb-3">
            <h6 class="action-card__title">
                <a href="#" class="text-decoration-none black">
                    Архивный стеллаж MS STANDART до 100 кг на полку
                </a>
            </h6>
            <span class="action-card__info dark-gray">
                ВШГ - 1156x2400x450 мм
            </span>
        </div>

        <div class="action-card__img-wrapper content-large__img d-flex justify-content-center">
            <a href="#" class="text-decoration-none">
                <img src="./img/product-card/image 88.png" class="action-card__img h-100" alt="Action card image">
            </a>
        </div>
    </div>


    <div class="footer d-flex justify-content-between mb-3">
        <div class="prices">
            <span class="prices__old-price dark-gray">1 957₽</span>
            <div class="prices__new-price primary">1 690₽</div>
        </div>
        
        <button class="add-to-cart align-self-end dark-gray d-none d-lg-block">В корзину</button>

        <button class="icon-button content__cart-button align-self-end d-lg-none">
            <i class="fas fa-shopping-cart"></i>
        </button>
    </div>

    <div class="hover-content position-absolute">
        <div class="d-flex justify-content-between mb-3">
            <button class="gray-bg add-remove d-flex align-items-center justify-content-center">—</button>

            <span class="counting-number w-100 mx-2 text-center light-gray-bg">1</span>

            <button class="primary-bg add-remove d-flex align-items-center justify-content-center">+</button>

        </div>

        <button class="dark-gray w-100 button-filled">Быстрый просмотр</button>

    </div>
</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="#" class="view-more dark-gray text-decoration-none">
                Посмотреть все
            </a>
        </div>
    </div>
</div>