<div class="warning-overlay"></div>

<div class="warning-modal">
    <div class="warning">
        <button class="warning__close-btn" type="button">
            <svg width="21" height="21" viewBox="0 0 21 21">
                <path
                    d="M21 2.47459L18.5254 0L10.5 8.02538L2.47459 0L0 2.47459L8.02538 10.5L0 18.5254L2.47459 21L10.5 12.9746L18.5254 21L20.9999 18.5254L12.9746 10.5L21 2.47459Z"
                    fill="white" />
            </svg>
        </button>

        <h6 class="warning__title primary text-center mb-4">
            Внимание
        </h6>

        <p class="text-center">
            В вашей корзине присутствует товар, которого нет в наличии. Онлайн оплата доступна только после
            подтверждения заказа менеджером.
            Для оформления заказа с товаром «под заказ» оставьте заявку и наш менеджер свяжется с вами
        </p>
        <p class="text-center gray mb-5">
            Товары «в наличии» доступны для заказа и онлайн-оплаты
        </p>

        <button class="w-100 dark-gray stillage-button">Понятно</button>
    </div>
</div>