<ul class="second-level-product-catalog__list">
    <li class="second-level-product-catalog__item nav-item">
        <a href="/catalog/stillage-metalicheskoe/stillage-srednegruzovie/stillage-srednegruzovie.html" class="text-decoration-none second-level-product-catalog__link nav-link">
            Среднегрузовые стеллажи
        </a>
    </li>
    <li class="second-level-product-catalog__item nav-item">
        <a href="/" class="text-decoration-none second-level-product-catalog__link nav-link">
            Архивные стеллажи
        </a>
    </li>
    <li class="second-level-product-catalog__item nav-item">
        <a href="/" class="text-decoration-none second-level-product-catalog__link nav-link">
            Элементы для стеллажей
        </a>
    </li>
    <li class="second-level-product-catalog__item nav-item">
        <a href="/" class="text-decoration-none second-level-product-catalog__link nav-link">
            Б/у металлические стеллажи
        </a>
    </li>
    <li class="second-level-product-catalog__item nav-item">
        <a href="/" class="text-decoration-none second-level-product-catalog__link nav-link">
            Стеллажи для бутылей с водой
        </a>
    </li>
    <li class="second-level-product-catalog__item nav-item">
        <a href="/" class="text-decoration-none second-level-product-catalog__link nav-link">
            Мобильные стеллажи
        </a>
    </li>
</ul>