<ul class="second-level-product-catalog__list">
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Стеллажи металлические
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Металлическая мебель
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Верстаки
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Сейфы
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Производственная мебель
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Гардеробные системы Титан GS
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Медицинская мебель и изделия
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Торговое оборудование
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Мебель для сидения
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Столы и столешницы
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Вешалки
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Школьная мебель
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Прочие изделия
        </a>
    </li>
    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Автоматические системы хранения
        </a>
    </li>

    <li class="second-level-product-catalog__list__item">
        <a href="/" class="text-decoration-none second-level-product-catalog__list__item__link">
            Шкафы металлические
        </a>
    </li>
</ul>