<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="dark-gray mb-4">Новинки</h3>
        </div>
    </div>
    <div class="d-flex working-way__row justify-content-sm-between">
        <div class="position-relative mr-3">
            @@include('src/components/action-catalog/action-card/action-card.html', {
            "photo": "./img/product-card/image 88.png",
            "badge1": "Новинка",
            "badge2":"",
            "badge3":"",
            "bagdeBg1": "black-bg",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>

        <div class="position-relative mr-3">
            @@include('src/components/action-catalog/action-card/action-card.html', {
            "photo": "./img/product-card/image 88.png",
            "badge1": "Новинка",
            "badge2":"",
            "badge3":"",
            "bagdeBg1": "black-bg",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>

        <div class="position-relative">
            @@include('src/components/action-catalog/action-card-large/action-card-large.html', {
            "photo": "./img/product-card/image 88.png",
            "badge1": "Новинка",
            "badge2":"",
            "badge3":"",
            "bagdeBg1": "black-bg",
            "title": "Архивный стеллаж MS STANDART до 100 кг на полку",
            "info": "ВШГ - 1156x2400x450 мм",
            "oldPrice": "1 957₽",
            "price": "1 690₽",
            "button": "В корзину",
            "link": "#"
            })
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="#" class="view-more dark-gray text-decoration-none">
                Посмотреть все
            </a>
        </div>
    </div>
</div>