<form class="assembly-form">
    <div class="assembly-form__choose-method">
        <fieldset>
            <label class="radio-container"> Да
                <input type="radio" checked="checked" name="radio">
                <span class="radio-checkmark"></span>
            </label>
        </fieldset>

        <fieldset>
            <label class="radio-container"> Нет
                <input type="radio" checked="checked" name="radio">
                <span class="radio-checkmark"></span>
            </label>
        </fieldset>
    </div>

    <div class="gray assembly-form__notice">2 товара из корзины <br> доступны для сборки</div>

    <div class="d-flex justify-content-between">
        <fieldset>
            <label class="checkbox-container gray">
                Гардеробная система <br>
                ТИТАН - GS - 450S
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container gray">
                Гардеробная система <br>
                ТИТАН - GS - 450S
                <input type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
        </fieldset>

        <div class="text-right delivery-date__price align-self-end">+390 ₽</div>
    </div>

</form>