@import 'sass/_vars'

body
    font-family: $font
    line-height: 1.4
    margin: 0
    font-size: 14px
    font-weight: 400
    line-height: 1.5
    color: $secondary
    text-align: left
    background-color: $white

// GLOBAL CLASSES
.gray
    color: $gray

.light-gray
    color: $light-gray

.dark-gray
    color: $dark-gray

.carousel-section
    height: 100%

.owl-carousel
    position: relative
    height: 100%
    font-family: 'Museo Sans Cyrl'

.owl-theme
    & .owl-nav
        margin-top: 10px
        position: absolute
        right: 120px
        bottom: 45px

    & .owl-dots
        position: absolute
        bottom: 45px
        left: 120px
        text-align: center

    & .owl-dots .owl-dot span
        border-radius: 0

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev
    border: none
    border-radius: 0
    font-size: 18px
    height: 25px
    width: 25px
    color: $white
    background: $primary

.owl-carousel .owl-nav button.owl-prev
    background: $gray

.owl-slide1,
.owl-slide2,
.owl-slide3
    height: 70vh

.cover
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.owl-slide1
    background-image: linear-gradient(to left, rgba(26, 32, 39, 0) 7.09%, rgba(32, 41, 51, 0.506293) 47.57%), url('../img/slider/image 93fhd.png')
    
    &__rectangle
        right: 0
        width: auto !important
    
    &__header
        display: block
        width: 80%
     

.owl-slide2
    background-color: $light-gray
    background-image: url('../img/slider/Mask Group.png')

    &__logo
        width: 230px !important

    &__title
        color: $black
        width: 90%

.owl-slide3
    background: $primary

    &__description
        width: 70%
        margin-bottom: 5rem

    &__img
        width: 80% !important

    button
        color: $white

.owl-controls
    position: absolute
    top: 50%
    left: 0
    right: 0

    .owl-buttons
        div
            position: absolute
            top: 0
            bottom: 0
            display: inline-block
            zoom: 1
            margin: 0
            width: 50px
            height: 30px
            line-height: 25px
            text-align: center
            font-size: .9em
            border-radius: 3px
            color: $white
            background: #000
            opacity: .6
            text-transform: capitalize

        .owl-prev
            left: 5px

        .owl-next
            right: 5px
