@import 'sass/_vars'


body
    line-height: 1.4
    margin: 0
    font-size: 14px
    color: $secondary
    text-align: left
    background-color: $white



a, button
    transition: $transition
    background: none
    border: none

a
    text-decoration: none

.nav-link,
button
    font-size: 16px

button
    font-weight: 600

i
    font-weight: 500

/////// GLOBAL CLASSES /////
.margin-bottom
    margin-bottom: 30px

.shadow
    box-shadow: $shadow

.shadow-light
    box-shadow: $shadow-light

.primary
    color: $primary
    border-color: $primary

.gray
    color: $gray
    border-color: $gray

.light-gray
    color: $light-gray
    border-color: $light-gray

.dark-gray
    color: $dark-gray
    border-color: $dark-gray 

.white
    color: $white
    border-color: $white

.black
    color: $black
    border-color: $black

.white-bg
    background: $white

.black-bg
    background: $black

.gray-bg
    background: $gray

.light-gray-bg
    background: $light-gray

.dark-gray-bg
    background: $dark-gray


.primary-bg
    background: $primary

.sky-bg
    background: $sky


.icon-button
    background: none
    border: none
    font-size: 16px
    color: $gray
    

///////////  Owl Carousel customized styles  ///////////////

.carousel-section
    height: 100%

.owl-carousel
    position: relative
    height: 100%

.slide-count
    left: 115px
    bottom: 42px
    background: rgba(0, 0, 0, 0.041)
    padding: 3px 5px

    +respond-to(phone-land)
        bottom: 30px
        left: 48%

.owl-theme
    & .owl-nav
        margin-top: 10px
        position: absolute
        right: 120px
        bottom: 45px

        +respond-to(phone-land)
            margin-top: 10px
            position: absolute
            display: flex
            justify-content: space-between
            bottom: 25px
            width: 100%
            right: 0
            padding: 0 15px

    & .owl-dots
        position: absolute
        bottom: 45px
        left: 152px
        display: flex
        text-align: center

        +respond-to(phone-land)
            display: none

    & .owl-dots .owl-dot span
        border-radius: 0

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev
    border: none
    border-radius: 0
    font-size: 18px
    height: 25px
    width: 25px
    color: $white
    background: $primary

.owl-carousel .owl-nav button.owl-prev
    background: $gray

.owl-slide1,
.owl-slide2,
.owl-slide3
    height: 700px
    +respond-to(laptop)
        height: 600px
    +respond-to(phone)
        height: 85vh

.cover
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.owl-slide1
    background-image: url('../img/slider/slide1.png')
    +respond-to(laptop)
        background-position: right
    +respond-to(phone-land)
        background-image: url('../img/slider/slide1-mobile.png')
    
    &__rectangle
        right: 0
        width: auto !important
    
    &__header
        display: block
        width: 90%
     

.owl-slide2
    background-color: $light-gray
    background-image: url('../img/slider/Mask Group.png')

    +respond-to(phone-land)
        background-position: left

    &__logo
        width: 230px !important

    &__title
        color: $black
        width: 90%

.owl-slide3
    background-image: url('../img/slider/slide3.png')
    +respond-to(phone-land)
        background-position: left

    &__description
        width: 70%
        margin-bottom: 5rem

    &__img
        width: 80% !important

    button
        color: $white

.owl-controls
    position: absolute
    top: 50%
    left: 0
    right: 0

    .owl-buttons
        div
            position: absolute
            top: 0
            bottom: 0
            display: inline-block
            zoom: 1
            margin: 0
            width: 50px
            height: 30px
            line-height: 25px
            text-align: center
            font-size: .9em
            border-radius: 3px
            color: $white
            background: #000
            opacity: .6
            text-transform: capitalize

        .owl-prev
            left: 5px

        .owl-next
            right: 5px


//// action-section /////
.action-section
    background-color: $sky
