.stillage-modal
    @extend .safe-modal

    +respond-to(small-height)
        height: 500px
        overflow-y: auto
        overflow-x: inherit

    +respond-to(phone-land)
        display: none
    

    &__close-btn
        cursor: pointer
        right: -40px
        top: 0
        position: absolute
        &:hover svg path
            fill: $primary

        +respond-to(phone)
            right: 30px
            top: 100px
            svg path
                fill: $gray

    &__header
        @extend .safe-modal__header

    &__title
        @extend .safe-modal__title

    &__content
        @extend .safe-modal__content
        margin-bottom: 40px

    &__product-img
        width: 50%

    &__product-img-box
        max-width: 100%
        margin-bottom: 10px
        img
            max-width: 100%
            width: auto !important
            max-height: 100%
            margin: auto


    &__consultaion
        @extend .safe-modal__consultaion

    &__product-info,
    &__bottom-left,
    &__bottom-right
        width: 50%

    &__buttons
        width: 160px

    &__bottom
        width: 100%

    td:nth-child(even)
        text-align: right

    td
        width: 50%

    td.product-id
        font-size: 12px

    &__element
        height: 30px
        width: 125px
        background: $light-gray

    &__setting-options
        margin-bottom: 50px
        justify-content: space-between

    .setting-options
        &__title
            font-weight: 600

    .select-selected
        padding: 7px 3px !important
        height: 30px
        text-align: center
        color: $dark-gray !important

    .custom-select__icon
        top: 9px
        right: 6px

    .select-arrow-active .custom-select__icon
        top: 18px


    .custom-select__icon:after,
    .custom-select__icon:before
        height: 6px
        background: $dark-gray

    .custom-select__icon:before
        transform: translate(-3px,5px) rotate(45deg)

    .custom-select__icon:after
        transform: translate(-3px, 2px) rotate(-45deg)


    .owl-nav,
    .slide-count
        display: none

    .owl-dots 
        width: 100%
        justify-content: center
        left: 0 !important
        right: 0 !important
        bottom: 0

    .owl-carousel
        height: 240px

    .price
        font-size: 1.2rem
        font-weight: 700

    &__warning
        .sign
            position: relative
            z-index: 3

        position: relative
        &:hover > .installment-payment__info
            visibility: visible
            transition: all .6s cubic-bezier(.9,.03,.69,.22)
            transition-delay: .5s


        .installment-payment
            &__title
                font-weight: 600

            &__info
                position: absolute
                color: $white
                right: 10px
                top: -220px
                width: 200px
                font-size: 14px
                padding: 15px 10px
                z-index: 2
                background: rgba(38, 50, 63, .9)
                visibility: hidden

                ul
                    font-size: 12px

                li
                    padding: 3px 0

            &__btn
                color: $white
                background: none
                border: 2px solid $white
                width: 100%
                padding: 10px 15px
                transition: none

                &:hover
                    color: $black
                    background: $white