<div id="stillageModal" class="modal">
    <div class="stillage-modal">
        <button class="stillage-modal__close-btn close-modal" type="button">
            <svg width="21" height="21" viewBox="0 0 21 21">
                <path
                    d="M21 2.47459L18.5254 0L10.5 8.02538L2.47459 0L0 2.47459L8.02538 10.5L0 18.5254L2.47459 21L10.5 12.9746L18.5254 21L20.9999 18.5254L12.9746 10.5L21 2.47459Z"
                    fill="white" />
            </svg>
        </button>

        <div class="stillage-modal__header">
            <h6 class="stillage-modal__title mb-0">
                Взломостойкий сейф VALBERG <br> кварцит 25
            </h6>

            <div class="d-flex align-self-start">
                <a href="sravnenie-tovarov.html"
                    class="d-flex align-items-center mr-3 text-decoration-none top-bar__compare" id="msCompare">
                    <svg width="20" height="18" viewBox="0 0 20 18">
                        <path
                            d="M1.62162 0.892578C0.724307 0.892578 0 1.61689 0 2.5142C0 3.41152 0.724307 4.13582 1.62162 4.13582C2.51893 4.13582 3.24324 3.41152 3.24324 2.5142C3.24324 1.61689 2.51893 0.892578 1.62162 0.892578Z"
                            fill="#B6C0CB" />
                        <path
                            d="M1.62162 7.37891C0.724307 7.37891 0 8.10321 0 9.00053C0 9.89784 0.724307 10.6221 1.62162 10.6221C2.51893 10.6221 3.24324 9.89784 3.24324 9.00053C3.24324 8.10321 2.51893 7.37891 1.62162 7.37891Z"
                            fill="#B6C0CB" />
                        <path
                            d="M1.62162 13.8652C0.718935 13.8652 0 14.595 0 15.4869C0 16.3787 0.729729 17.1085 1.62162 17.1085C2.51351 17.1085 3.24324 16.3787 3.24324 15.4869C3.24324 14.595 2.52431 13.8652 1.62162 13.8652Z"
                            fill="#B6C0CB" />
                        <path d="M19.9984 14.4062H4.86328V16.5684H19.9984V14.4062Z" fill="#B6C0CB" />
                        <path d="M19.9984 1.43359H4.86328V3.59577H19.9984V1.43359Z" fill="#B6C0CB" />
                        <path d="M19.9984 7.91992H4.86328V10.0821H19.9984V7.91992Z" fill="#B6C0CB" />
                    </svg>

                </a>

                <a href="favorites.html" class="d-flex align-items-center text-decoration-none top-bar__favorite"
                    id="msFavoriter">
                    <svg width="20" height="19" viewBox="0 0 20 19">
                        <path
                            d="M14.5 0C12.8 0 11.1 0.79746 10 2.09333C8.9 0.79746 7.2 0 5.5 0C2.4 0 0 2.39238 0 5.48254C0 9.27047 3.4 12.3606 8.6 16.946L10 18.2419L11.4 16.946C16.5 12.2609 20 9.17079 20 5.48254C20 2.39238 17.6 0 14.5 0ZM10.1 15.5505H10L9.9 15.4508C5.1 11.1644 2 8.37333 2 5.48254C2 3.48889 3.5 1.99365 5.5 1.99365C7 1.99365 8.5 2.99047 9.1 4.38603H11C11.5 2.99047 13 1.99365 14.5 1.99365C16.5 1.99365 18 3.48889 18 5.48254C18 8.37333 14.9 11.1644 10.1 15.5505Z"
                            fill="#B6C0CB" />
                    </svg>

                </a>

            </div>
        </div>

        <div class="stillage-modal__content">
            <div class="stillage-modal__product-img mr-3">
                <span class="gray">ВШГ - 173x300x230 мм</span>

                <div class="owl-carousel owl-theme">
                    <div class="stillage-modal__product-img-box mt-3">
                        <img src="../img/safes/safe_modal.png" alt="stillage">
                    </div>

                    <div class="stillage-modal__product-img-box">
                        <img src="../img/product-catalog/Rectangle 95 (1).png" alt="stillage">
                    </div>

                    <div class="stillage-modal__product-img-box">
                        <img src="../img/safes/safe_modal.png" alt="stillage">
                    </div>
                </div>
            </div>



            <div class="stillage-modal__product-info">

                <table>
                    <tr>
                        <td class="green">В наличии</td>
                        <td class="gray product-id">BJGFJJH6667</td>
                    </tr>
                    <tr>
                        <td>Производитель</td>
                        <td>Промет (Россия)</td>
                    </tr>
                    <tr>
                        <td>Вес, кг</td>
                        <td>0,.1 кг</td>
                    </tr>
                    <tr>
                        <td>Серия</td>
                        <td>СТФг</td>
                    </tr>
                    <tr>
                        <td>Бренд</td>
                        <td>СТФг</td>
                    </tr>
                    <tr>
                        <td>Грузоподъемность секции, кг</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Тип соединения</td>
                        <td>болтовое</td>
                    </tr>
                    <tr>
                        <td>Шаг перестановки полок, мм</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Материал полок/яруса</td>
                        <td>Металл</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="d-flex stillage-modal__setting-options">
            <div class="stillage-modal__product-height">
                <span>Высота</span>
                <div class="custom-select stillage-modal__element">
                    <i class="custom-select__icon"></i>
                    <select>
                        <option value="0">1200</option>
                        <option value="1">1200</option>
                        <option value="2">1400</option>
                        <option value="3">1560</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="stillage-modal__bottom d-flex">
            <div class="stillage-modal__bottom-left mr-4">
                <a href="#" class="stillage-modal__consultaion">
                    Нужна консультация
                </a>
                <button class="w-100 stillage-button-primary" type="submit">В корзину</button>
            </div>


            <div class="stillage-modal__bottom-right align-self-end">
                <div class="d-flex justify-content-between">
                    <div class="stillage-modal__buttons d-flex justify-content-between mb-3">
                        <span class="counter w-100 mx-2">1</span>

                        <button class="remove-button white mr-2">–</button>

                        <button class="add-button white black-bg">+</button>
                    </div>
                    <span class="price">1 690 ₽</span>
                </div>

                <button class="w-100 stillage-button-gray" type="submit">Купить в один клик</button>
            </div>
        </div>

    </div>
</div>