.cart-item
    height: 65px
    margin-bottom: 35px

    &__image
        height: 65px
        width: 65px
        object-fit: cover

    &__info
        min-width: 173px

    &__title
        font-weight: 700

    &-price
        width: 115px

        &__count
            height: 20px
            width: 50px
            background: $light-gray

        &__money
            font-size: 26px
            line-height: 26px
            font-weight: 700

