<div class="cart__item d-flex justify-content-between mb-2">
    <div class="mr-3">
        <img src="../../../img/cart/image 88.png" alt="Product picture" class="cart__item_image">
    </div>

    <div class="cart__item_info mr-3">
        <a class="cart__item_title font-weight-bold">
            Гардеробная система ТИТАН - GS - 450S
        </a>
        <div class="text-muted cart__item_description">ВШГ - 1156x2400x350 мм</div>
    </div>

    <div class="cart__item_price">
        <div class="cart__item_price_control-buttons d-flex justify-content-between align-items-center">
            <div class="cart__item_price_count d-flex align-items-center justify-content-center mr-2">1</div>
            <button class="cart__item_price_reduce d-flex align-items-center justify-content-center mr-2">—</button>
            <button class="cart__item_price_add d-flex align-items-center justify-content-center">+</button>
        </div>
        <div class="cart__item_price_money text-right">
            1 690 ₽
        </div>
    </div>
</div>