<div class="cart-item @@thirdPlace d-flex justify-content-between">
    <div class="mr-3">
        <img src="../../../img/cart/image 88.png" alt="Product picture" class="cart-item__image">
    </div>

    <div class="cart-item__info d-flex flex-column justify-content-between mr-3">
        <h6 class="cart-item__title">
            Гардеробная система ТИТАН - GS - 450S
        </h6>
        <small class="dark-gray">ВШГ - 1156x2400x350 мм</small>
    </div>

    <div class="cart-item__price d-flex flex-column justify-content-between">
        <div class="cart-item__control-buttons d-flex justify-content-between align-items-center">
            <span class="cart-item__count d-flex align-items-center justify-content-center mr-1">1</span>

            <button class="remove-button mr-1">—</button>

            <button class="add-button-black">+</button>
        </div>
        <span class="cart-item__money text-right">
            1 690 ₽
        </span>
    </div>
</div>