<div class="bucket-thanks-card">
    <div class="bucket-thanks-card__img-wrapper">
        <img src="../../../img/product-catalog/Rectangle 95.png" class="h-100"
            alt="Product picture" />
    </div>

    <div class="bucket-thanks-card__description">
        <div class="bucket-thanks-card__info">
            <h6>Архивный стеллаж MS STANDART до 100 кг на полку</h6>
            <small class="dark-gray">ВШГ - 1156x2400x450 мм</small>
        </div>

        <div class="bucket-thanks-card__prices">
            <div>1 шт</div>
            <div>1 690₽</div>
        </div>
    </div>

    <div class="bucket-thanks-card__actions">
            <ul class="bucket-thanks-card__selected-services">
                <li>
                    <svg width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <rect width="6" height="6" fill="#848E99" />
                    </svg>
                    Доставка
                </li>
                <li>
                    <svg width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <rect width="6" height="6" fill="#848E99" />
                    </svg>
                    Онлайн оплата
                </li>
                <li>
                    <svg width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <rect width="6" height="6" fill="#848E99" />
                    </svg>
                    Сборка
                </li>
            </ul>

            <button class="bucket-thanks-card__btn dark-gray">Документы по заказу</button>
    </div>


</div>