<div class="bucket-thanks-card">
    <div class="d-flex bucket-thanks-card__content-wrapper">
        <div class="bucket-thanks-card__img-wrapper">
            <img src="../../../img/product-catalog/Rectangle 95.png" class="h-100 mb-2 mb-sm-0" alt="Product picture" />
    
            <ul class="bucket-thanks-card__selected-services d-sm-none">
                <li>Доставка</li>
                <li>Онлайн оплата</li>
                <li>Сборка</li>
            </ul>
        </div>
    
        <div class="bucket-thanks-card__description">
            <div class="bucket-thanks-card__info mb-3 mb-sm-0">
                <h6>Архивный стеллаж MS STANDART до 100 кг на полку</h6>
                <small class="dark-gray">ВШГ - 1156x2400x450 мм</small>
            </div>
    
            <div class="bucket-thanks-card__prices">
                <div class="bucket-thanks-card__count">1 шт</div>
                <div class="bucket-thanks-card__price  d-none d-sm-flex">1 690₽</div>
            </div>
        </div>
    
        <div class="bucket-thanks-card__actions d-none d-sm-flex">
            <ul class="bucket-thanks-card__selected-services d-none d-sm-flex">
                <li>Доставка</li>
                <li>Онлайн оплата</li>
                <li>Сборка</li>
            </ul>
    
            <button class="bucket-thanks-card__btn dark-gray">Документы по заказу</button>
        </div>
    </div>

    <div class="bucket-thanks-card__mobile-footer align-items-baseline d-flex d-sm-none justify-content-between">
        <div class="bucket-thanks-card__price">1 690₽</div>
        <button class="bucket-thanks-card__btn dark-gray">Документы по заказу</button>
    </div>


</div>