.product-card-simple,
.product-card-horizontal
    +respond-to(phone)
        height: 200px

    box-shadow: $shadow
    height: 300px
    color: $black
    &:hover .info__button
        color: $primary

    .info__button
        background: none
        border: none
        color: $gray
        transition: $transition

.product-card-simple
    +respond-to(phone)
        flex-direction: row-reverse

.product-card-horizontal
    .info
        flex: 1
        &__button
            right: 37px

    &__photo
        flex: 2
        img
            object-fit: contain
            +respond-to(phone-land)
                width: 100%

