.product-card-simple
    box-shadow: $shadow
    height: 300px

    .info

        &__button
            background: none
            border: none
            color: $gray
            transition: $transition

            &:hover
                color: $primary