.product-card-simple,
.product-card-horizontal
    margin-bottom: 30px
    +respond-to(phone)
        height: 200px

    box-shadow: $shadow
    height: 300px
    color: $black
    &:hover .info__button
        color: $primary
        svg
            fill: $primary


    .info__button
        svg
            transition: $transition
            fill: #F4F7FB
            &:hover
                fill: $primary
        background: none
        border: none
        color: $gray
        transition: $transition

.product-card-simple
    &__photo
        img
            max-width: 100%
            object-fit: contain

    +respond-to(phone)
        flex-direction: row-reverse

.product-card-horizontal
    .info
        flex: 1
        &__button
            right: 37px

    &__photo
        flex: 2
        img
            max-width: 100%
            object-fit: contain
            +respond-to(phone-land)
                width: 100%

