<div class="product-card-simple d-flex flex-sm-column justify-content-between p-4">
    <div class="product-card-simple__photo">
        <img src="@@photo" class="h-100 w-100" alt="Cart photo">
    </div>

     <div class="info d-flex justify-content-between align-items-center mr-3 mr-sm-0">
         <span class="h6 info__title">
            @@title
         </span>

         <button class="info__button d-none d-sm-block">
             <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
         </button>
     </div>
</div>