<a href="@@cardLink" class="product-card-horizontal d-flex justify-content-between p-4">
    <div class="info d-flex justify-content-between align-items-end mr-3 mr-sm-0">
        <div class="h6 info__title">
            @@title
        </div>

        <button class="info__button position-absolute  d-none d-sm-block" onclick="event.preventDefault()">
            <svg width="14" height="22" viewBox="0 0 14 22">
                <path d="M3.16536 1L0.832031 3.33333L8.4987 11L0.832031 18.6667L3.16536 21L13.1654 11L3.16536 1Z"
                    stroke="#F4F7FB" stroke-width="0.5" />
            </svg>
        </button>
    </div>

    <div class="product-card-horizontal__photo">
        <img src="@@photo" class="h-100 w-100" alt="Cart photo">
    </div>
</a>