<div class="working-way">
    <div class="container">
        <h4 class="title">Как мы работаем</h4>
        <div class="working-way__height d-flex working-way__row justify-content-sm-between">
            <div class="position-relative mr-5">
                <div class="working-way__background gray">01</div>

                <div class="working-way__content position-absolute">
                    <div class="working-way__steps">Оформляете заказ</div>
                    <span class="gray">на нашем сайте</span>
                </div>
            </div>

            <div class="position-relative mr-5">
                <div class="working-way__background gray">02</div>

                <div class="working-way__content position-absolute">
                    <div class="working-way__steps">Специалист связывается</div>
                    <span class="gray">и утверждает детали заказа</span>
                </div>
            </div>

            <div class="position-relative mr-5">
                <div class="working-way__background gray">03
                </div>

                <div class="working-way__content position-absolute">
                    <div class="working-way__steps">Мы доставляем</div>
                    <span class="gray">заказ к по указанному адресу</span>
                </div>
            </div>

            <div class="position-relative mr-5">
                <div class="working-way__background gray">04
                </div>

                <div class="working-way__content position-absolute">
                    <div class="working-way__steps">И устанавливаем</div>
                    <span class="gray">мебель</span>
                </div>
            </div>
        </div>
    </div>
</div>